In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.cloud import bigquery
import time
%env GOOGLE_APPLICATION_CREDENTIALS=../secrets/bigquery-service-account.json 
client = bigquery.Client()
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

env: GOOGLE_APPLICATION_CREDENTIALS=../secrets/bigquery-service-account.json

In [2]:
%load_ext google.cloud.bigquery

In [3]:
%%bigquery metadata --project masterarbeit-245718 --verbose 
SELECT * FROM `bigquery-public-data`.crypto_ethereum.INFORMATION_SCHEMA.COLUMNS where table_name = "traces"

Executing query with job ID: 256e699d-73b0-40f5-b164-41922de7b2d0
Query executing: 0.70s
Query complete after 1.31s

In [4]:
size_sample_data = 200

### Generate sample data for "call_type"

In [5]:
# %%bigquery call_types_sql_result --project masterarbeit-245718 --verbose 
# select DISTINCT call_type from `bigquery-public-data.crypto_ethereum.traces`
# where DATE(block_timestamp) >= '2019-07-6' AND DATE(block_timestamp) <= '2019-7-7'

In [6]:
call_types = ['call', 'delegatecall', 'staticcall', 'callcode', None]
prob_call_types = [0.7, 0.05, 0.025, 0.025, 0.2]

In [7]:
call_type_sample = np.random.choice(call_types, 2*size_sample_data, p=prob_call_types)

# Generate sample data for "trace_type"

In [8]:
additional_trace_types = ["create", "suicide", "reward", "genesis", "daofork"]
prob_additional_trace_types = [0.025, 0.025, 0.9, 0.025, 0.025]

trace_type_sample = []
for ct in call_type_sample:
    if ct == None:
        trace_type_sample.append(np.random.choice(additional_trace_types, p=prob_additional_trace_types))
    else:
        trace_type_sample.append("call")

### Generate sample data for "status"

In [9]:
# %%bigquery status_values --project masterarbeit-245718 --verbose 
# select DISTINCT status from `bigquery-public-data.crypto_ethereum.traces`
# where DATE(block_timestamp) >= '2019-07-6' AND DATE(block_timestamp) <= '2019-7-7'

In [10]:
status_values = [0, 1]
probs_status_values = [0.05, 0.95]

In [11]:
probs_status_values = [0.05, 0.95]

In [12]:
status_sample = np.random.choice(status_values, 2*size_sample_data, p=probs_status_values)

### Generate sample accounts

In [13]:
exchanges = ["exchange_{}".format(i) for i in range(1,int(0.05*size_sample_data + 1))]

In [14]:
speculators = ["speculator_{}".format(i) for i in range(1,int(0.95*size_sample_data + 1))]

In [15]:
addresses_testdata = []
addresses_testdata.extend(speculators)
addresses_testdata.extend(exchanges)

In [16]:
addresses_testdata = pd.DataFrame(addresses_testdata, columns=["address"])

## Upload 'addresses' table to bigquery

In [17]:
addresses_testdata.to_gbq('ethereum_us.addresses_testdata', if_exists="replace")

1it [00:03,  3.73s/it]

### Generate sample transactions (speculators to exchanges)

In [18]:
from_spec_addresses = [np.random.choice(speculators) for i in range(int(2*size_sample_data/2))]
to_ex_addresses = [np.random.choice(exchanges) for i in range(int(2*size_sample_data/2))]
values_spec_to_ex = np.random.randint(1, 20, int(2*size_sample_data/2))

In [19]:
txdata1 = pd.DataFrame(zip(from_spec_addresses, to_ex_addresses, values_spec_to_ex), columns=["from_address", "to_address", "value"])

### Generate sample transactions (exchanges to speculators)

In [20]:
to_spec_addresses = [np.random.choice(speculators) for i in range(int(2*size_sample_data/2))]
from_ex_addresses = [np.random.choice(exchanges) for i in range(int(2*size_sample_data/2))]
values_ex_to_spec = np.random.randint(1, 5, int(2*size_sample_data/2))

In [21]:
txdata2 = pd.DataFrame(zip(from_ex_addresses, to_spec_addresses, values_ex_to_spec), columns=["from_address", "to_address", "value"])

Anmerkung: Die speculators schicken mehr Geld zu den Börsen als umgekehrt.

In [22]:
txdata = txdata1.append(txdata2).reset_index(drop=True)
txdata = txdata.sample(frac=1)

### Generate sample "block_timestamps"

In [23]:
import datetime as datetime

base = datetime.datetime.strptime("2020-02-02", '%Y-%m-%d')
block_timestamps = [base - datetime.timedelta(seconds=x) for x in range(0, 12*size_sample_data, 12)]
base = base - datetime.timedelta(days=31)
block_timestamps.extend([base - datetime.timedelta(seconds=x) for x in range(0, 12*size_sample_data, 12)])

### Merge data to sample "traces" table

In [24]:
traces_sampleData = txdata.copy()

In [25]:
traces_sampleData["status"] = status_sample

In [26]:
traces_sampleData["call_type"] = call_type_sample

In [27]:
traces_sampleData["trace_type"] = trace_type_sample

In [28]:
traces_sampleData["block_timestamp"] = block_timestamps

In [29]:
traces_sampleData.sort_values(by="from_address")

,from_address,to_address,value,status,call_type,trace_type,block_timestamp
263,exchange_1,speculator_183,1,1,call,call,2020-02-01 23:52:12
225,exchange_1,speculator_2,1,1,call,call,2020-01-01 23:45:12
315,exchange_1,speculator_160,2,1,call,call,2020-01-01 23:35:12
327,exchange_1,speculator_85,2,1,call,call,2020-01-01 23:53:36
231,exchange_1,speculator_68,2,1,call,call,2020-02-01 23:38:48
310,exchange_1,speculator_152,2,1,call,call,2020-01-01 23:45:00
246,exchange_1,speculator_141,1,1,call,call,2020-02-01 23:38:12
292,exchange_1,speculator_81,4,1,None,reward,2020-02-01 23:38:00
205,exchange_1,speculator_88,2,1,call,call,2020-01-01 23:35:48
311,exchange_1,speculator_13,1,1,call,call,2020-01-01 23:27:24
317,exchange_1,speculator_14,2,1,call,call,2020-01-01 23:43:48
384,exchange_1,speculator_110,3,1,call,call,2020-02-01 23:25:12
227,exchange_1,speculator_78,4,1,delegatecall,call,2020-02-01 23:25:24
224,exchange_1,speculator_109,2,1,call,call,2020-02-01 23:33:24
217,exchange_1,speculator_163,1,1,None,reward,2020-01-01 23:41:36
237,exchange_1,speculator_127,1,1,call,call,2020-01-01 23:41:00
340,exchange_1,speculator_170,3,1,None,reward,2020-02-01 23:32:00
350,exchange_1,speculator_92,3,1,call,call,2020-01-01 23:36:00
287,exchange_1,speculator_13,3,1,call,call,2020-02-01 23:45:48
372,exchange_10,speculator_157,1,1,call,call,2020-02-01 23:47:12
316,exchange_10,speculator_162,1,1,call,call,2020-01-01 23:44:12
319,exchange_10,speculator_12,4,1,None,reward,2020-02-01 23:48:48
389,exchange_10,speculator_8,2,1,call,call,2020-01-01 23:40:12
213,exchange_10,speculator_46,2,1,call,call,2020-02-01 23:45:24
298,exchange_10,speculator_56,3,1,call,call,2020-02-01 23:44:48
325,exchange_10,speculator_156,2,1,call,call,2020-01-01 23:47:12
377,exchange_10,speculator_65,4,1,call,call,2020-01-01 23:49:12
335,exchange_10,speculator_23,3,1,call,call,2020-01-01 23:39:36
260,exchange_10,speculator_71,1,1,None,reward,2020-01-01 23:58:24
267,exchange_10,speculator_169,1,1,call,call,2020-02-01 23:20:48
...,...,...,...,...,...,...,...
42,speculator_8,exchange_3,12,1,call,call,2020-02-01 23:46:36
97,speculator_8,exchange_9,19,1,call,call,2020-01-01 23:46:48
4,speculator_80,exchange_7,13,1,call,call,2020-02-01 23:30:12
11,speculator_81,exchange_3,5,1,call,call,2020-01-01 23:39:12
27,speculator_81,exchange_2,9,1,None,reward,2020-02-01 23:39:36
135,speculator_83,exchange_3,13,1,staticcall,call,2020-02-01 23:32:36
77,speculator_83,exchange_2,8,1,call,call,2020-01-01 23:46:36
120,speculator_83,exchange_3,12,1,call,call,2020-01-01 23:25:00
21,speculator_84,exchange_8,1,1,None,reward,2020-02-01 23:49:12
96,speculator_85,exchange_8,4,1,call,call,2020-01-01 23:28:00
70,speculator_85,exchange_10,6,1,call,call,2020-02-01 23:59:00
139,speculator_87,exchange_6,18,1,call,call,2020-01-01 23:39:24
68,speculator_88,exchange_3,18,1,call,call,2020-01-01 23:31:12
13,speculator_88,exchange_6,8,1,call,call,2020-02-01 23:22:12
161,speculator_88,exchange_7,12,1,call,call,2020-01-01 23:34:12
140,speculator_9,exchange_10,3,1,call,call,2020-02-01 23:50:24
0,speculator_90,exchange_10,6,1,callcode,call,2020-02-01 23:37:00
32,speculator_90,exchange_2,7,1,call,call,2020-01-01 23:30:12
116,speculator_90,exchange_4,17,1,call,call,2020-02-01 23:29:12
177,speculator_92,exchange_8,17,1,call,call,2020-02-01 23:36:00
187,speculator_93,exchange_3,10,1,call,call,2020-01-01 23:23:36
34,speculator_93,exchange_7,11,1,None,reward,2020-02-01 23:22:48
36,speculator_93,exchange_1,14,1,staticcall,call,2020-01-01 23:55:00
165,speculator_94,exchange_6,1,1,call,call,2020-01-01 23:56:24
47,speculator_95,exchange_1,19,1,call,call,2020-02-01 23:31:00
38,speculator_96,exchange_6,9,1,call,call,2020-02-01 23:41:48
143,speculator_96,exchange_9,12,1,call,call,2020-01-01 23:26:36
160,speculator_96,exchange_9,6,1,None,reward,2020-02-01 23:30:48
54,speculator_97,exchange_3,18,1,call,call,2020-01-01 23:24:36
163,speculator_98,exchange_6,3,1,call,call,2020-02-01 23:43:00

### Upload "traces" table to bigquery

In [30]:
traces_sampleData.to_gbq('ethereum_us.traces_sampleData', if_exists="replace")

1it [00:04,  4.24s/it]

### Test SQL command for retrieving "weiReceived", "weiSent"

In [31]:
%%bigquery res1 --project masterarbeit-245718 --verbose 
with weiView as (

  with weiReceivedView as (
        
      -- debits
      select to_address, sum(ifnull(value, 0)) as weiReceived
      from `ethereum_us.traces_sampleData` 
      where to_address is not null
      and status = 1
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by to_address
        
  ), weiSentView as (
  
      -- credits
      select from_address, sum(ifnull(value, 0)) as weiSent
      from  `ethereum_us.traces_sampleData` 
      where from_address is not null
      and status = 1
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by from_address
  ) 
  select 
  CASE 
    when to_address is not null then to_address
    when from_address is not null then from_address
  end as address, 
  ifnull(weiReceived,0) as weiReceived, 
  ifnull(weiSent,0) as weiSent
  from weiReceivedView full outer join weiSentView on from_address = to_address
) 
select address, weiReceived, weiSent from weiView right join `ethereum_us.addresses_testdata`  using(address)

Executing query with job ID: fb688d92-3e79-4c02-a5c5-01ac347755cf
Query executing: 1.11s
Query complete after 1.93s

In [32]:
res2 = res1.copy()
res2["balance"] = res1.weiReceived - res1.weiSent
res2 = res2.set_index("address")
res2 = res2.sort_values(by="address", ascending=False)
res2 = res2.astype("float")
res2 = res2.fillna(0.)
balance_result_sql = res2

In [33]:
%%bigquery traces_sampleData --project masterarbeit-245718 --verbose 
select * from `ethereum_us.traces_sampleData`

Executing query with job ID: 74286bf7-4b83-4e66-9519-8d3a078e01b5
Query executing: 0.44s
Query complete after 1.17s

In [34]:
data1 = [row for (index, row) in traces_sampleData.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
data1 = pd.DataFrame(data1)

In [35]:
data2 = pd.DataFrame(index=set(data1["from_address"].unique()) | set(data1["to_address"].unique()))
data2["weiReceived"] = data1.groupby('to_address').sum().value
data2["weiSent"] = data1.groupby('from_address').sum().value
data2["weiSent"] = data2["weiSent"].fillna(0.)
data2["weiReceived"] = data2["weiReceived"].fillna(0.)
data2["balance"] = data2["weiReceived"] - data2["weiSent"]
data2.index = data2.index.rename("address")
data2 = data2.reindex(addresses_testdata["address"], fill_value=0.)
data2 = data2.sort_values(by="address", ascending=False)
balance_result_py = data2

In [36]:
balance_result_py.head()
balance_result_sql.head()

               weiReceived  weiSent  balance
address
speculator_99          4.0      0.0      4.0
speculator_98          0.0      3.0     -3.0
speculator_97          2.0     18.0    -16.0
speculator_96          0.0     27.0    -27.0
speculator_95          0.0     19.0    -19.0

               weiReceived  weiSent  balance
address
speculator_99          4.0      0.0      4.0
speculator_98          0.0      3.0     -3.0
speculator_97          2.0     18.0    -16.0
speculator_96          0.0     27.0    -27.0
speculator_95          0.0     19.0    -19.0

In [37]:
pd.testing.assert_frame_equal(balance_result_py, balance_result_sql)
print("weiSent, weiReceived Test succeeded!!")

weiSent, weiReceived Test succeeded!!

### Test SQL command for retrieving "txSent" and "txReceived"

In [38]:
%%bigquery res2 --project masterarbeit-245718 --verbose 
with txView as (

  with txSent as (
      SELECT from_address, count(*) as numberOfTranscationsSent FROM `masterarbeit-245718.ethereum_us.traces_sampleData` 
      where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by from_address
    ), txReceived as (
      SELECT to_address, count(*) as numberOfTranscationsReceived FROM `masterarbeit-245718.ethereum_us.traces_sampleData` 
      where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by to_address
    ) 
    SELECT 
    CASE  
      WHEN to_address IS NOT NULL THEN to_address
      WHEN from_address IS NOT NULL THEN from_address
    END AS address,
    IFNULL(numberOfTranscationsReceived, 0) as numberOfTranscationsReceived, 
    IFNULL(numberOfTranscationsSent, 0) as numberOfTranscationsSent
    from txReceived FULL OUTER JOIN txSent on to_address = from_address
) 

    select address, numberOfTranscationsReceived, numberOfTranscationsSent from txView right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: 18db4405-eaea-4ee6-b8f7-1a7dcc2a5310
Query executing: 1.02s
Query complete after 1.85s

In [39]:
res3 = res2.copy()
res3 = res3.fillna(0.)
res3 = res3.sort_values(by="address", ascending=False)
tx_sent_received_result_sql = res3.set_index("address", drop=True)

In [40]:
data3 = pd.DataFrame(index=set(data1["from_address"].unique()) | set(data1["to_address"].unique()))
data3["numberOfTranscationsReceived"] = data1.groupby('to_address').count().value
data3["numberOfTranscationsSent"] = data1.groupby('from_address').count().value
data3 = data3.fillna(0)
data3 = data3.astype("int")
data3.index = data3.index.rename("address")
data3 = data3.reindex(addresses_testdata["address"], fill_value=0.)
data3 = data3.sort_values(by="address", ascending=False)
tx_sent_received_result_py = data3

In [41]:
pd.testing.assert_frame_equal(tx_sent_received_result_py, tx_sent_received_result_sql)
print("txSent, txReceived Test succeeded !!")

txSent, txReceived Test succeeded !!

### Test avg time between tx

In [42]:
%%bigquery res4 --project masterarbeit-245718 --verbose 
with timeRecView as (

  with receivedTx as (
    SELECT to_address, count(*) as numberOfTranscationsReceived FROM `masterarbeit-245718.ethereum_us.traces_sampleData` 
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by to_address),
  
  timeStampDiffs as (
    SELECT to_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
    FROM `masterarbeit-245718.ethereum_us.traces_sampleData`
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by to_address
  
  ) select to_address as address, 
  CASE 
    when (numberOfTranscationsReceived - 1)  > 0 then timestampDiff / (numberOfTranscationsReceived - 1) 
    else 0
  end as avgTimeDiffBetweenReceivedTransactions
  from receivedTx inner join  timeStampDiffs using(to_address)
)

select address, ifnull(avgTimeDiffBetweenReceivedTransactions,0) as avgTimeDiffBetweenReceivedTransactions from timeRecView right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: 74f61d7a-ec14-4fbc-b638-6946013a15fa
Query executing: 1.08s
Query complete after 2.00s

In [43]:
res6 = res4.set_index("address", drop=True)
res6 = res6.fillna(0.)
res6 = res6.sort_values(by="address")
avg_time_diff_receivedtx_result_sql = res6

In [44]:
%%bigquery res5 --project masterarbeit-245718 --verbose 
with timeSentView as (

  with sentTx as (
    SELECT from_address, count(*) as numberOfTranscationsSent FROM `masterarbeit-245718.ethereum_us.traces_sampleData` 
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by from_address),
  timeStampDiffs as (
    SELECT from_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
    FROM `masterarbeit-245718.ethereum_us.traces_sampleData`
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by from_address
  ) select from_address as address, 
  CASE 
    when (numberOfTranscationsSent - 1)  > 0 then timestampDiff / (numberOfTranscationsSent - 1) 
    else 0
  end as avgTimeDiffBetweenSentTransactions
     from sentTx inner join  timeStampDiffs using(from_address)
)

select address, ifnull(avgTimeDiffBetweenSentTransactions,0) as avgTimeDiffBetweenSentTransactions from timeSentView right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: 6821e15d-038b-4488-92e6-8bbadef1fb99
Query executing: 1.69s
Query complete after 2.20s

In [45]:
res6 = res5.set_index("address", drop=True)
res6 = res6.fillna(0.)
res6 = res6.sort_values(by="address")
avg_time_diff_senttx_result_sql = res6

In [46]:
res7 = [row for (index, row) in traces_sampleData.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
res7 = pd.DataFrame(res7)
res8 = res7.groupby("from_address").max().block_timestamp
res9 = res7.groupby("from_address").min().block_timestamp
res10 = res8 - res9
res10 = res10.rename("seconds_diff")
res10 = tx_sent_received_result_py.join(res10, how="right").drop("numberOfTranscationsReceived", axis=1)
res10 = res10.fillna(0.)
res10["avgTimeDiffBetweenSentTransactions"] = res10["seconds_diff"] / (res10["numberOfTranscationsSent"] - 1)
res10["avgTimeDiffBetweenSentTransactions"] = res10["avgTimeDiffBetweenSentTransactions"].fillna(datetime.timedelta(0))
res10 = res10.reindex(addresses_testdata["address"], fill_value=0.)
res10.index = res10.index.rename("address")
res10 = res10.sort_values(by="address")
res10 = res10.drop(["numberOfTranscationsSent", "seconds_diff"],axis=1)
res10["avgTimeDiffBetweenSentTransactions"] = [ts.total_seconds() for ts in res10["avgTimeDiffBetweenSentTransactions"]]
avg_time_diff_senttx_result_py = res10

/home/mgsgde/.local/lib/python3.6/site-packages/pandas/core/arrays/timedeltas.py:523: RuntimeWarning: invalid value encountered in true_divide
  result = self._data / other

In [47]:
pd.testing.assert_frame_equal(avg_time_diff_senttx_result_sql, avg_time_diff_senttx_result_py)
print("avgTimeDiffBetweenSentTransactions Test succeeded !!")

avgTimeDiffBetweenSentTransactions Test succeeded !!

In [48]:
features = balance_result_sql.join(tx_sent_received_result_sql,how="left")
features = features.join(avg_time_diff_senttx_result_sql)
features = features.join(avg_time_diff_receivedtx_result_sql)
features = features.sort_values(by="balance", ascending=False)
features = features.fillna(0.0)
import sys
# addresses that have sent/received only one transaction get the avg time max * 2
features["avgTimeDiffBetweenSentTransactions"] = features["avgTimeDiffBetweenSentTransactions"].replace(to_replace=0.0, value=2 * max(features["avgTimeDiffBetweenSentTransactions"]))
features["avgTimeDiffBetweenReceivedTransactions"] = features["avgTimeDiffBetweenReceivedTransactions"].replace(to_replace=0.0, value=2 * max(features["avgTimeDiffBetweenReceivedTransactions"]))

In [49]:
features = features.reset_index()

In [50]:
features.to_gbq('ethereum_us.features_sampleData', if_exists="replace")

1it [00:03,  4.00s/it]

# Test mined Blocks

In [51]:
%%bigquery sql_res_minedblocks --project masterarbeit-245718 --verbose 

with minedBlocksView as (
    SELECT to_address as address, count(*) as mined_blocks FROM `masterarbeit-245718.ethereum_us.traces_sampleData`
        where trace_type = "reward"
        group by to_address
    )
select address, ifnull(mined_blocks,0) as minedBlocks from minedBlocksView right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: e4ae1092-fca9-4f69-80f7-662ba18cd073
Query executing: 0.49s
Query complete after 1.32s

In [52]:
features.head()

,address,weiReceived,weiSent,balance,numberOfTranscationsReceived,numberOfTranscationsSent,avgTimeDiffBetweenSentTransactions,avgTimeDiffBetweenReceivedTransactions
0,exchange_9,232.0,57.0,175.0,23.0,21.0,134014.200000,121842.000000
1,exchange_2,195.0,25.0,170.0,17.0,10.0,297709.333333,167542.500000
2,exchange_3,199.0,33.0,166.0,18.0,13.0,223335.000000,157683.529412
3,exchange_10,228.0,65.0,163.0,22.0,29.0,95730.857143,127653.142857
4,exchange_4,194.0,42.0,152.0,17.0,16.0,178688.800000,167537.250000

# Test var(avgTimeDiff...)

In [53]:
%%bigquery res_sql_stddev --project masterarbeit-245718 --verbose 

with timestamp_var as (
    with timestamps_diffs as (
        
        with timestamps_preceding_tx as (
            
            with timestamps_sent_tx as (
                select from_address, block_timestamp from `masterarbeit-245718.ethereum_us.traces_sampleData`
                    where from_address is not null 
                      and status = 1 
                      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
            )
            
            select from_address, block_timestamp,
                lag(block_timestamp) OVER (partition by from_address order by block_timestamp asc) as preceding_block_timestamp 
            from timestamps_sent_tx
        )
        
        select from_address, block_timestamp, preceding_block_timestamp, 
            TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
        from timestamps_preceding_tx
    )
    select from_address as address, STDDEV_SAMP(timestampdiff) as stddev_sample  
    from timestamps_diffs group by from_address 
) 
select * from timestamp_var right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: 4805552b-bd7e-475a-a897-64f35c8ca8ae
Query executing: 0.50s
Query complete after 2.53s

In [54]:
stddev_result_sql = res_sql_stddev.set_index("address")
stddev_result_sql = stddev_result_sql.reindex(addresses_testdata["address"])
stddev_result_sql = stddev_result_sql.fillna(res_sql_stddev["stddev_sample"].max())
stddev_result_sql = stddev_result_sql.sort_values(by="address")

In [55]:
%%bigquery res_sql_stddev --project masterarbeit-245718 --verbose 

with timestamp_var as (
    
    with timestamps_diffs as (
        
        with timestamps_preceding_tx as (
            
            with timestamps_sent_tx as (
                select to_address, block_timestamp from `masterarbeit-245718.ethereum_us.traces_sampleData`
                    where to_address is not null 
                      and status = 1 
                      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
            )
            
            select to_address, block_timestamp,
                lag(block_timestamp) OVER (partition by to_address order by block_timestamp asc) as preceding_block_timestamp 
            from timestamps_sent_tx
        )
        
        select to_address, block_timestamp, preceding_block_timestamp, 
            TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
        from timestamps_preceding_tx
    )
    select to_address as address, STDDEV_SAMP(timestampdiff) as stddev_sample  
    from timestamps_diffs group by to_address 
) 
select * from timestamp_var right join `ethereum_us.addresses_testdata` using(address)

Executing query with job ID: 8c0e04f2-9142-40b7-a60e-c7a2c548fafa
Query executing: 1.07s
Query complete after 1.68s

In [56]:
stddev_result_sql = res_sql_stddev.set_index("address")
stddev_result_sql = stddev_result_sql.reindex(addresses_testdata["address"])
stddev_result_sql = stddev_result_sql.fillna(res_sql_stddev["stddev_sample"].max())
stddev_result_sql = stddev_result_sql.sort_values(by="stddev_sample")

# Verifikation der var(avgTimeDiff...) Tabelle via Python

In [57]:
res7 = [row for (index, row) in traces_sampleData.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
res7 = pd.DataFrame(res7)
res7 = res7.sort_values(by="block_timestamp", ascending=True)

In [58]:
def calculateDifference(df):
#     from_address = df["from_address"].reset_index(drop=True)[0]
    variance = df["block_timestamp"].diff().std()
    return variance
#     return pd.DataFrame({"variance": [variance]})

res8 = res7.groupby("to_address").apply(lambda df: df["block_timestamp"].diff().std() )
res8 = pd.DataFrame(res8, columns=["stddev_sample"])
res8 = res8.reindex(addresses_testdata["address"])
res8 = res8.fillna(res8.max())
res8["stddev_sample"] = res8["stddev_sample"] / np.timedelta64(1, 's')
res8 = res8.sort_values(by="stddev_sample")
stddev_result_py = res8

In [59]:
# pd.testing.assert_frame_equal(stddev_result_py, stddev_result_sql)
np.testing.assert_almost_equal(list(stddev_result_py["stddev_sample"]), list(stddev_result_sql["stddev_sample"]), decimal=2)
print("stddev Test succeeded !!")

stddev Test succeeded !!

# Erstellen der ETH USD Tabelle

In [60]:
import os 
from datetime import datetime

In [61]:
eth_usd_res = pd.read_csv('../data/eth_usd.csv') 
# Preview the first 5 lines of the loaded data 
eth_usd = eth_usd_res.copy()
eth_usd["avg_usd_eth"] = (eth_usd_res["High"] + eth_usd_res["Low"]) / 2
eth_usd["usd_eth_timestamp"] = [datetime.strptime(ts, "%Y-%m-%d") for ts in eth_usd_res["Date"]]
eth_usd = eth_usd.loc[:, ["usd_eth_timestamp", "avg_usd_eth"]]
# data.sort_values(by="avg", ascending=False)
# data.iloc[data["avg_usd_eth"].idxmax(),:]
eth_usd.tail()

     usd_eth_timestamp  avg_usd_eth
1645        2020-02-07   217.722564
1646        2020-02-08   220.987190
1647        2020-02-09   226.423241
1648        2020-02-10   223.632332
1649        2020-02-11   222.864899

In [62]:
eth_usd.to_gbq('ethereum_us.usd_eth', if_exists="replace")

1it [00:03,  3.36s/it]

In [63]:
%%bigquery traces_usd --project masterarbeit-245718 --verbose 

select * from `masterarbeit-245718.ethereum_us.traces_sampleData` as traces left join `masterarbeit-245718.ethereum_us.usd_eth` as usd_eth 
  on (TIMESTAMP_TRUNC(usd_eth.usd_eth_timestamp, DAY, 'UTC') = TIMESTAMP_TRUNC(traces.block_timestamp, DAY, 'UTC'))

Executing query with job ID: 97f8c743-5a5e-48e7-be46-a9959b7bcb6f
Query executing: 0.50s
Query complete after 1.32s

In [64]:
traces_usd.to_gbq('ethereum_us.traces_usd_sampleData', if_exists="replace")

1it [00:03,  3.56s/it]

# Active Months

In [233]:
%%bigquery active_months_result_sql --project masterarbeit-245718 --verbose 

with traces_clean as (
    select * from `masterarbeit-245718.ethereum_us.traces_sampleData` where 
    status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
    
), tx_received as (
    select 
        TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
        to_address,
        count(*) as number_tx_received
    from traces_clean
    group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), to_address
    
), tx_sent as (
    select 
        TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
        from_address,
        count(*) as number_tx_sent
    from traces_clean
    group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), from_address
    
), monthly_tx as (
    select 
        CASE  
          WHEN tx_sent.from_address IS NOT NULL THEN tx_sent.from_address
          WHEN tx_received.to_address IS NOT NULL THEN tx_received.to_address
        END AS address,
        CASE  
          WHEN tx_sent.month IS NOT NULL THEN tx_sent.month
          WHEN tx_received.month IS NOT NULL THEN tx_received.month
        END AS month,
        ifnull(number_tx_sent,0) as number_tx_sent, 
        ifnull(number_tx_received,0) as number_tx_received 
    from tx_sent full join tx_received 
        on (tx_sent.from_address = tx_received.to_address and tx_sent.month = tx_received.month)

), active_months_view as (
    select 
        address, 
        countif(number_tx_sent > 0 or number_tx_received > 0) as active_months 
    from monthly_tx group by address order by address ASC 
)

select 
    address, 
    ifnull(active_months,0) as active_months 
from ethereum_us.addresses_testdata left join active_months_view using(address)

Executing query with job ID: 3d96a201-9753-4d5e-9aeb-37cb21cc5e91
Query executing: 0.79s
Query complete after 1.40s

# Tests für active_months feature

In [234]:
traces = [row for (index, row) in traces_sampleData.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
traces = pd.DataFrame(traces)

In [235]:
def address_was_active(address, month):
    for i,t in traces.iterrows():
        if (t["from_address"] == address or t["to_address"] == address) and (month.strftime("%Y-%m") == t["block_timestamp"].strftime("%Y-%m")):
            return True
    return False

In [236]:
from datetime import timedelta

active_months = {}

min_ts = traces["block_timestamp"].min()
max_ts = traces["block_timestamp"].max()
min_ts = min_ts.to_pydatetime()
max_ts = max_ts.to_pydatetime()

         
months = [month.to_pydatetime() for month in pd.date_range(start=min_ts, end=(max_ts + timedelta(days=31)), freq="MS")]

for index,address in addresses_testdata.iterrows():
    for month in months:
        if (address_was_active(address[0], month)):
            active_months[address[0]] = active_months[address[0]] + 1 if address[0] in active_months else 1

{'speculator_1': 2,
 'speculator_2': 1,
 'speculator_3': 1,
 'speculator_4': 2,
 'speculator_5': 1,
 'speculator_7': 1,
 'speculator_8': 2,
 'speculator_9': 1,
 'speculator_10': 1,
 'speculator_12': 2,
 'speculator_13': 2,
 'speculator_14': 2,
 'speculator_15': 1,
 'speculator_16': 2,
 'speculator_18': 2,
 'speculator_21': 1,
 'speculator_22': 1,
 'speculator_23': 2,
 'speculator_24': 1,
 'speculator_25': 2,
 'speculator_26': 1,
 'speculator_27': 1,
 'speculator_28': 1,
 'speculator_29': 1,
 'speculator_31': 1,
 'speculator_32': 1,
 'speculator_33': 2,
 'speculator_34': 1,
 'speculator_36': 2,
 'speculator_37': 1,
 'speculator_38': 1,
 'speculator_39': 1,
 'speculator_41': 1,
 'speculator_42': 1,
 'speculator_43': 1,
 'speculator_44': 2,
 'speculator_45': 1,
 'speculator_46': 1,
 'speculator_47': 1,
 'speculator_48': 1,
 'speculator_49': 1,
 'speculator_50': 1,
 'speculator_51': 1,
 'speculator_53': 1,
 'speculator_54': 2,
 'speculator_55': 1,
 'speculator_56': 2,
 'speculator_57': 1,
 'speculator_60': 1,
 'speculator_62': 1,
 'speculator_63': 1,
 'speculator_64': 1,
 'speculator_65': 2,
 'speculator_66': 2,
 'speculator_68': 1,
 'speculator_69': 1,
 'speculator_70': 1,
 'speculator_71': 2,
 'speculator_74': 1,
 'speculator_77': 1,
 'speculator_78': 2,
 'speculator_79': 1,
 'speculator_80': 1,
 'speculator_81': 2,
 'speculator_82': 1,
 'speculator_83': 1,
 'speculator_84': 1,
 'speculator_85': 2,
 'speculator_87': 1,
 'speculator_88': 2,
 'speculator_89': 1,
 'speculator_90': 2,
 'speculator_91': 2,
 'speculator_92': 2,
 'speculator_93': 2,
 'speculator_94': 1,
 'speculator_95': 1,
 'speculator_96': 2,
 'speculator_97': 1,
 'speculator_98': 1,
 'speculator_99': 2,
 'speculator_100': 2,
 'speculator_101': 2,
 'speculator_102': 1,
 'speculator_103': 1,
 'speculator_104': 1,
 'speculator_105': 1,
 'speculator_106': 1,
 'speculator_107': 1,
 'speculator_109': 2,
 'speculator_110': 2,
 'speculator_111': 1,
 'speculator_112': 1,
 'speculator_113': 1,
 'speculator_114': 2,
 'speculator_115': 2,
 'speculator_116': 1,
 'speculator_117': 2,
 'speculator_118': 1,
 'speculator_119': 2,
 'speculator_121': 1,
 'speculator_122': 1,
 'speculator_124': 2,
 'speculator_125': 1,
 'speculator_126': 1,
 'speculator_127': 2,
 'speculator_128': 1,
 'speculator_129': 2,
 'speculator_130': 1,
 'speculator_131': 2,
 'speculator_132': 2,
 'speculator_133': 2,
 'speculator_134': 1,
 'speculator_135': 1,
 'speculator_137': 2,
 'speculator_138': 2,
 'speculator_139': 2,
 'speculator_140': 2,
 'speculator_141': 1,
 'speculator_143': 1,
 'speculator_144': 2,
 'speculator_145': 1,
 'speculator_146': 2,
 'speculator_147': 2,
 'speculator_148': 1,
 'speculator_149': 2,
 'speculator_150': 1,
 'speculator_152': 1,
 'speculator_153': 1,
 'speculator_154': 2,
 'speculator_155': 1,
 'speculator_156': 2,
 'speculator_157': 1,
 'speculator_158': 2,
 'speculator_160': 2,
 'speculator_162': 2,
 'speculator_163': 2,
 'speculator_166': 2,
 'speculator_167': 1,
 'speculator_168': 2,
 'speculator_169': 1,
 'speculator_170': 2,
 'speculator_171': 1,
 'speculator_173': 1,
 'speculator_175': 1,
 'speculator_176': 2,
 'speculator_177': 2,
 'speculator_178': 1,
 'speculator_179': 1,
 'speculator_180': 2,
 'speculator_183': 1,
 'speculator_184': 1,
 'speculator_186': 1,
 'speculator_188': 2,
 'speculator_190': 2,
 'exchange_1': 2,
 'exchange_2': 2,
 'exchange_3': 2,
 'exchange_4': 2,
 'exchange_5': 2,
 'exchange_6': 2,
 'exchange_7': 2,
 'exchange_8': 2,
 'exchange_9': 2,
 'exchange_10': 2}

In [237]:
s = pd.Series(active_months)
df = pd.DataFrame(s)
df = df.reindex(addresses_testdata["address"])
df = df.reset_index()
df.columns=["address", "active_months"]
df = df.fillna(0.)
df["active_months"] = df["active_months"].astype(int)
active_months_result_py  = df
pd.testing.assert_frame_equal(active_months_result_py, active_months_result_sql)
print("active months Test succeeded!!")

active months Test succeeded!!

# Deprecated

In [66]:
# %%bigquery res6 --project masterarbeit-245718 --verbose 

# SELECT
# * 
# FROM
# `masterarbeit-245718.ethereum_us.INFORMATION_SCHEMA.TABLES`

In [67]:
# tablesToDelete = [tn for tn in res6["table_name"] if tn.startswith("top40k_19_20")]

# for t in tablesToDelete:
#      client.delete_table("ethereum_us.{}".format(t), not_found_ok=True)

In [68]:
# view_ref = shared_dataset_ref.table("my_shared_view")
# view = bigquery.Table(view_ref)
# sql_template = 'SELECT name, post_abbr FROM `{}.{}.{}` WHERE name LIKE "W%"'
# view.view_query = sql_template.format(project, source_dataset_id, source_table_id)
# view = client.create_table(view)  # API request

# print("Successfully created view at {}".format(view.full_table_id))