# Creating the feature table in BigQuery

## Configuration of Sample

In [257]:
# Due to the nature of selecting random rows via sql the number of addresses is approximated
approximate_number_of_addresses = 100

# (start, end), format: dd.mm.yyyy
observation_period = ("2020-02-15", "2020-02-15") 

# "random", "richest"
# random: selects random addresses, that have been active within the observation period.
# richest: selects the accounts that have the most ether
address_selection = "random" 

max_bigquery_costs_usd = 2

## Creating Views

Setup

In [258]:
from google.cloud import bigquery
import simplejson as json
import os
from datetime import datetime
import pandas as pd

os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "../secrets/bigquery-service-account.json"
client = bigquery.Client()
dataset_id = "ethereum_us"
view_names = []
view_ids = {}

Delete all views and temporary tables

In [259]:
view_ids_to_be_deleted = [t.table_id for t in client.list_tables(dataset_id) if "view" in t.table_id or "tmp" in t.table_id]

for view_id in view_ids_to_be_deleted:
     client.delete_table("{}.{}".format(dataset_id, view_id), not_found_ok=True)

Create view "traces"

In [260]:
view_names.append("traces")
current_view_name = view_names[-1]
sql_query = """
      select * from `bigquery-public-data.crypto_ethereum.traces`
        where status = 1
            and DATE(block_timestamp) >= '{start}' 
            and DATE(block_timestamp) <= '{end}'
      """.format(start=observation_period[0], end=observation_period[1]); 

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'traces_random_100_2020_02_15_2020_02_15_view'

Create view "addresses"

In [261]:
view_names.append("addresses")
current_table_name = view_names[-1]

# todo: address_selection == "richest"
if address_selection == "random":
    sql_query = """
                with addresses_traces as (
                    select distinct from_address as address from masterarbeit-245718.ethereum_us.{view_id_traces}
                    UNION ALL
                    select distinct to_address as address from masterarbeit-245718.ethereum_us.{view_id_traces}
                ) 
                select * from addresses_traces where RAND() < {approximate_number_of_addresses}/(SELECT COUNT(*) FROM addresses_traces)
                """.format(view_id_traces=view_ids["traces"], approximate_number_of_addresses=approximate_number_of_addresses)

view_ids[current_table_name] = "{}_{}_{}_{}_{}_tmp".format(current_table_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))

# view_ref = client.dataset(dataset_id).table(view_ids[current_table_name])
# view = bigquery.Table(view_ref)
# view.view_query = sql_query
# view = client.create_table(view)  # API request


job_config = bigquery.QueryJobConfig(destination="masterarbeit-245718.ethereum_us.{}".format(view_ids[current_table_name]))
query_job = client.query(sql_query, job_config=job_config)  # Make an API request.
query_job.result()

print("Successfully created table: '{}'".format(view_ids[current_table_name]))

Successfully created table: 'addresses_random_100_2020_02_15_2020_02_15_tmp'

Create view "wei"

In [262]:
view_names.append("wei")
current_view_name = view_names[-1]
sql_query = """
            with weiView as (

              with weiReceivedView as (
                    
                  -- debits
                  select to_address, sum(ifnull(value, 0)) as weiReceived
                  from masterarbeit-245718.ethereum_us.{view_id_traces}
                  where to_address is not null
                  and status = 1
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by to_address
                    
              ), weiSentView as (
              
                  -- credits
                  select from_address, sum(ifnull(value, 0)) as weiSent
                  from  masterarbeit-245718.ethereum_us.{view_id_traces} 
                  where from_address is not null
                  and status = 1
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by from_address
              ) 
              select 
                  CASE 
                    when to_address is not null then to_address
                    when from_address is not null then from_address
                  end as address, 
                  ifnull(weiReceived,0) as weiReceived, 
                  ifnull(weiSent,0) as weiSent
              from weiReceivedView full outer join weiSentView on from_address = to_address
            ) 
            select address, weiReceived, weiSent from weiView right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'wei_random_100_2020_02_15_2020_02_15_view'

Create view "tx"

In [263]:
view_names.append("tx")
current_view_name = view_names[-1]
sql_query = """
            with txView as (

              with txSent as (
              
                  SELECT from_address, count(*) as numberOfTranscationsSent FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                  where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by from_address
                  
                ), txReceived as (
                
                  SELECT to_address, count(*) as numberOfTranscationsReceived FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                  where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by to_address
                ) 
                
                SELECT 
                    CASE  
                      WHEN to_address IS NOT NULL THEN to_address
                      WHEN from_address IS NOT NULL THEN from_address
                    END AS address,
                    IFNULL(numberOfTranscationsReceived, 0) as numberOfTranscationsReceived, 
                    IFNULL(numberOfTranscationsSent, 0) as numberOfTranscationsSent
                from txReceived FULL OUTER JOIN txSent on to_address = from_address
            ) 
            
            select address, numberOfTranscationsReceived, numberOfTranscationsSent from txView right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)
            
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'tx_random_100_2020_02_15_2020_02_15_view'

Create view "avg_time_diff_received_tx"

In [264]:
view_names.append("avg_time_diff_received_tx")
current_view_name = view_names[-1]
sql_query = """
           with timeRecView as (

              with receivedTx as (
              
                SELECT to_address, count(*) as numberOfTranscationsReceived 
                FROM masterarbeit-245718.ethereum_us.{view_id_traces} 
                where to_address is not null 
                  and status = 1 
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                group by to_address
              
              ), timeStampDiffs as (
              
                SELECT to_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
                FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                where to_address is not null 
                  and status = 1 
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                group by to_address
              
              ) 
              
              select to_address as address, 
                  CASE 
                    when (numberOfTranscationsReceived - 1)  > 0 then timestampDiff / (numberOfTranscationsReceived - 1) 
                    else 0
                  end as avgTimeDiffBetweenReceivedTransactions
              from receivedTx inner join  timeStampDiffs using(to_address)
            )
            
            select address, ifnull(avgTimeDiffBetweenReceivedTransactions,0) as avg_time_diff_received_tx from timeRecView right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)         
            
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'avg_time_diff_received_tx_random_100_2020_02_15_2020_02_15_view'

Create view "avg_time_diff_sent_tx"

In [265]:
view_names.append("avg_time_diff_sent_tx")
current_view_name = view_names[-1]
sql_query = """
            with timeSentView as (

              with sentTx as (
              
                SELECT from_address, count(*) as numberOfTranscationsSent 
                FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                where to_address is not null 
                    and status = 1 
                    and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                group by from_address
                
              ), timeStampDiffs as (
              
                SELECT from_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
                FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                where to_address is not null 
                  and status = 1 
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                group by from_address
                
            ) 
              
            select from_address as address, 
                CASE 
                    when (numberOfTranscationsSent - 1)  > 0 then 
                        timestampDiff / (numberOfTranscationsSent - 1) 
                    else 
                        0
                end as avgTimeDiffBetweenSentTransactions
            from sentTx inner join  timeStampDiffs using(from_address)
            )
            
            select address, ifnull(avgTimeDiffBetweenSentTransactions,0) as avg_time_diff_sent_tx from timeSentView right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)        
            
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'avg_time_diff_sent_tx_random_100_2020_02_15_2020_02_15_view'

Create view "mined_blocks"

In [266]:
view_names.append("mined_blocks")
current_view_name = view_names[-1]
sql_query = """
            with minedBlocksView as (
                SELECT to_address as address, count(*) as mined_blocks 
                FROM masterarbeit-245718.ethereum_us.{view_id_traces}
                where trace_type = "reward"
                group by to_address
            )
            
            select address, ifnull(mined_blocks,0) as minedBlocks from minedBlocksView right join  masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)

            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'mined_blocks_random_100_2020_02_15_2020_02_15_view'

Create view "stddev_received_tx"

In [267]:
view_names.append("stddev_received_tx")
current_view_name = view_names[-1]
sql_query = """
            with timestamp_var as (
                
                with timestamps_diffs as (
                    
                    with timestamps_preceding_tx as (
                        
                        with timestamps_received_tx as (
                        
                            select to_address, block_timestamp 
                            from masterarbeit-245718.ethereum_us.{view_id_traces}
                            where to_address is not null 
                                and status = 1 
                                and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                        )
                        
                        select to_address, block_timestamp,
                            lag(block_timestamp) OVER (partition by to_address order by block_timestamp asc) as preceding_block_timestamp 
                        from timestamps_received_tx
                    )
                    
                    select to_address, block_timestamp, preceding_block_timestamp, 
                        TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
                    from timestamps_preceding_tx
                )
                
                select to_address as address, STDDEV_SAMP(timestampdiff) as stddev_received_tx  
                from timestamps_diffs group by to_address 
            ) 
            
            select address, stddev_received_tx from timestamp_var right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)
            
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'stddev_received_tx_random_100_2020_02_15_2020_02_15_view'

Create view "stddev_sent_tx"

In [268]:
view_names.append("stddev_sent_tx")
current_view_name = view_names[-1]
sql_query = """
            with timestamp_var as (
            
                with timestamps_diffs as (
                    
                    with timestamps_preceding_tx as (
                        
                        with timestamps_sent_tx as (
                        
                            select from_address, block_timestamp 
                            from masterarbeit-245718.ethereum_us.{view_id_traces}
                            where from_address is not null 
                                and status = 1 
                                and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
                        )
                        
                        select from_address, block_timestamp,
                            lag(block_timestamp) OVER (partition by from_address order by block_timestamp asc) as preceding_block_timestamp 
                        from timestamps_sent_tx
                    )
                    
                    select from_address, block_timestamp, preceding_block_timestamp, 
                        TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
                    from timestamps_preceding_tx
                )
                
                select from_address as address, STDDEV_SAMP(timestampdiff) as stddev_sent_tx  
                from timestamps_diffs group by from_address 
            ) 
            
            select address, stddev_sent_tx from timestamp_var right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)
            
            """.format(view_id_traces=view_ids["traces"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'stddev_sent_tx_random_100_2020_02_15_2020_02_15_view'

Create view "active_months"

In [269]:
view_names.append("active_months")
current_view_name = view_names[-1]
sql_query = """
            with tx_received as (
            
                select 
                    TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
                    to_address,
                    count(*) as number_tx_received
                from `masterarbeit-245718.ethereum_us.{view_id_traces}`
                group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), to_address
                
            ), tx_sent as (
            
                select 
                    TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
                    from_address,
                    count(*) as number_tx_sent
                from `masterarbeit-245718.ethereum_us.{view_id_traces}`
                group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), from_address
                
            ), monthly_tx as (
            
                select 
                    CASE  
                      WHEN tx_sent.from_address IS NOT NULL THEN tx_sent.from_address
                      WHEN tx_received.to_address IS NOT NULL THEN tx_received.to_address
                    END AS address,
                    CASE  
                      WHEN tx_sent.month IS NOT NULL THEN tx_sent.month
                      WHEN tx_received.month IS NOT NULL THEN tx_received.month
                    END AS month,
                    ifnull(number_tx_sent,0) as number_tx_sent, 
                    ifnull(number_tx_received,0) as number_tx_received 
                from tx_sent full join tx_received 
                    on (tx_sent.from_address = tx_received.to_address and tx_sent.month = tx_received.month)
            
            ), active_months_view as (
            
                select 
                    address, 
                    countif(number_tx_sent > 0 or number_tx_received > 0) as active_months 
                from monthly_tx group by address order by address ASC 
            )
            
            select 
                address, 
                ifnull(active_months,0) as active_months 
            from `masterarbeit-245718.ethereum_us.{view_id_addresses}` left join active_months_view using(address)    
            
            """.format(view_id_addresses=view_ids["addresses"],view_id_traces=view_ids["traces"], view_id_tx=view_ids["tx"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'active_months_random_100_2020_02_15_2020_02_15_view'

Create table "traces_usd"

In [270]:
from urllib.request import urlopen, Request
import csv 

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.3"}
url = 'https://etherscan.io/chart/etherprice?output=csv'
req = Request(url=url, headers=headers) 
html = urlopen(req).read().decode('utf-8')

with open('../data/test.csv', 'w') as file:
        file.write(html)
        
eth_usd_res = pd.read_csv('../data/test.csv')  
eth_usd = eth_usd_res.copy()
eth_usd["Date(UTC)"] = [datetime.strptime(ts, "%m/%d/%Y") for ts in eth_usd_res["Date(UTC)"]]
eth_usd = eth_usd.drop(columns=["UnixTimeStamp"])
eth_usd.columns = ["usd_eth_timestamp", "usd_eth"]
eth_usd["usd_eth"] = pd.to_numeric(eth_usd["usd_eth"])
eth_usd.to_gbq('ethereum_us.usd_eth_table', if_exists="replace")

1it [00:03,  3.81s/it]

In [271]:
view_names.append("traces_usd")
current_view_name = view_names[-1]
sql_query = """
             select 
                 from_address, 
                 to_address, 
                 value, 
                 status, 
                 call_type, 
                 trace_type, 
                 block_timestamp, 
                 usd_eth * value as value_usd 
             from `masterarbeit-245718.ethereum_us.{view_id_traces}` as traces_view
             left join `masterarbeit-245718.ethereum_us.usd_eth_table` as usd_eth_table 
                on (TIMESTAMP_TRUNC(usd_eth_table.usd_eth_timestamp, DAY, 'UTC') = TIMESTAMP_TRUNC(traces_view.block_timestamp, DAY, 'UTC'))
            """.format(view_id_traces=view_ids["traces"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'traces_usd_random_100_2020_02_15_2020_02_15_view'

Create table "usd"

In [272]:
view_names.append("usd")
current_view_name = view_names[-1]
sql_query = """
            with usdView as (

              with usdReceivedView as (
                    
                  -- debits
                  select to_address, sum(ifnull(value_usd, 0)) as usdReceived
                  from masterarbeit-245718.ethereum_us.{view_id_traces_usd}
                  where to_address is not null
                  and status = 1
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by to_address
                    
              ), usdSentView as (
              
                  -- credits
                  select from_address, sum(ifnull(value_usd, 0)) as usdSent
                  from  masterarbeit-245718.ethereum_us.{view_id_traces_usd} 
                  where from_address is not null
                  and status = 1
                  and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
                  group by from_address
              ) 
              select 
                  CASE 
                    when to_address is not null then to_address
                    when from_address is not null then from_address
                  end as address, 
                  ifnull(usdReceived,0) as usdReceived, 
                  ifnull(usdSent,0) as usdSent
              from usdReceivedView full outer join usdSentView on from_address = to_address
            ) 
            select address, usdReceived, usdSent from usdView right join masterarbeit-245718.ethereum_us.{view_id_addresses} using(address)
            """.format(view_id_traces_usd=view_ids["traces_usd"], view_id_addresses=view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'usd_random_100_2020_02_15_2020_02_15_view'

Create View "wei_avg"

In [273]:
view_names.append("wei_avg")
current_view_name = view_names[-1]
sql_query = """
            with features as (
                select * from `masterarbeit-245718.ethereum_us.{view_id_wei}` 
                inner join `masterarbeit-245718.ethereum_us.{view_id_tx}` using(address) 
            )
            select 
                address,
                CASE 
                    when numberOfTranscationsSent > 0 THEN weiSent / numberOfTranscationsSent 
                    when numberOfTranscationsSent = 0 THEN 0 
                END as avg_wei_sent,
                CASE 
                    when numberOfTranscationsReceived > 0 THEN weiReceived / numberOfTranscationsReceived 
                    when numberOfTranscationsReceived = 0 THEN 0 
                END as avg_wei_received
            from features        
            """.format(view_id_wei=view_ids["wei"], view_id_tx=view_ids["tx"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'wei_avg_random_100_2020_02_15_2020_02_15_view'

Create View "usd_avg"

In [274]:
view_names.append("usd_avg")
current_view_name = view_names[-1]
sql_query = """
            with features as (
                select * from `masterarbeit-245718.ethereum_us.{view_id_usd}` 
                inner join `masterarbeit-245718.ethereum_us.{view_id_tx}` using(address) 
            )
            select 
                address, 
                CASE 
                    when numberOfTranscationsSent > 0 THEN usdSent / numberOfTranscationsSent 
                    when numberOfTranscationsSent = 0 THEN 0 
                END as avg_usd_sent,
                CASE 
                    when numberOfTranscationsReceived > 0 THEN usdReceived / numberOfTranscationsReceived 
                    when numberOfTranscationsReceived = 0 THEN 0 
                END as avg_usd_received
            from features        
            """.format(view_id_usd=view_ids["usd"], view_id_tx=view_ids["tx"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'usd_avg_random_100_2020_02_15_2020_02_15_view'

Create View "wei_avg_monthly"

In [275]:
view_names.append("wei_avg_monthly")
current_view_name = view_names[-1]
sql_query = """
            with features as (
                select * from `masterarbeit-245718.ethereum_us.{view_id_wei}` 
                inner join `masterarbeit-245718.ethereum_us.{view_id_active_months}` using(address) 
            )
            select address,
                CASE 
                    when active_months > 0 THEN weiSent / active_months 
                    when active_months = 0 THEN 0 
                END as monthly_wei_sent,
                CASE 
                     when active_months > 0 THEN weiReceived / active_months 
                     when active_months = 0 THEN 0 
                END as monthly_wei_received
                from features
            """.format(view_id_wei=view_ids["wei"], view_id_active_months=view_ids["active_months"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'wei_avg_monthly_random_100_2020_02_15_2020_02_15_view'

Create View "usd_avg_monthly"

In [276]:
view_names.append("usd_avg_monthly")
current_view_name = view_names[-1]
sql_query = """
            with features as (
                select * from `masterarbeit-245718.ethereum_us.{view_id_usd}` 
                inner join `masterarbeit-245718.ethereum_us.{view_id_active_months}` using(address) 
            )
            select address,
                CASE 
                    when active_months > 0 THEN usdSent / active_months 
                    when active_months = 0 THEN 0 
                END as monthly_usd_sent,
                CASE 
                     when active_months > 0 THEN usdReceived / active_months 
                     when active_months = 0 THEN 0 
                END as monthly_usd_received
                from features
            """.format(view_id_usd=view_ids["usd"], view_id_active_months=view_ids["active_months"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'usd_avg_monthly_random_100_2020_02_15_2020_02_15_view'

Create View "tx_avg_monthly"

In [277]:
view_names.append("tx_avg_monthly")
current_view_name = view_names[-1]
sql_query = """
            with features as (
                select * from `masterarbeit-245718.ethereum_us.{view_id_tx}` 
                inner join `masterarbeit-245718.ethereum_us.{view_id_active_months}` using(address) 
            )
            select address,
                CASE 
                    when active_months > 0 THEN numberOfTranscationsSent / active_months 
                    when active_months = 0 THEN 0 
                END as monthly_outgoing_txns,
                CASE 
                    when active_months > 0 THEN numberOfTranscationsReceived / active_months 
                    when active_months = 0 THEN 0 
                END as monthly_incoming_txns
            from features
            """.format(view_id_tx=view_ids["tx"], view_id_active_months=view_ids["active_months"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'tx_avg_monthly_random_100_2020_02_15_2020_02_15_view'

Create View "contracts_created"

In [278]:
view_names.append("contracts_created")
current_view_name = view_names[-1]

sql_query = """
            with contract_created_view as (
            select 
                from_address as address, 
                count(*) as number_of_contracts_created
            from `masterarbeit-245718.ethereum_us.{view_id_traces}` 
                where
                    trace_type = "create"
            group by from_address
            order by number_of_contracts_created DESC
            )
            select 
                address, 
                ifnull(number_of_contracts_created,0) as number_of_contracts_created 
            from contract_created_view right join `masterarbeit-245718.ethereum_us.{view_id_addresses}` using(address)
            """.format(view_id_traces=view_ids["traces"], view_id_addresses = view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'contracts_created_random_100_2020_02_15_2020_02_15_view'

Create View "contract_tx"

In [279]:
view_names.append("contract_tx")
current_view_name = view_names[-1]
sql_query = """
            with contract_tx_view as (
            select 
                from_address as address, 
                count(*) as contract_tx
            from `masterarbeit-245718.ethereum_us.{view_id_traces}` 
                where
                    (input != "None" and input != "0x" and trace_type = "call") or 
                    trace_type = "create" or
                    trace_type = "suicide"
            group by from_address
            order by from_address
            )
            select 
                address, 
                ifnull(contract_tx,0) as contract_tx 
            from contract_tx_view right join `masterarbeit-245718.ethereum_us.{view_id_addresses}` using(address)
            """.format(view_id_traces=view_ids["traces"], view_id_addresses = view_ids["addresses"])

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'contract_tx_random_100_2020_02_15_2020_02_15_view'

Create View "diff_token_used"

In [280]:
view_names.append("diff_token_used")
current_view_name = view_names[-1]
sql_query = """
            with token_transfers as (
                select * from bigquery-public-data.crypto_ethereum.token_transfers 
                where DATE(block_timestamp) >= '{start}' and DATE(block_timestamp) <= '{end}'
            ) 
            select 
                address, 
                count(DISTINCT token_address) as diff_token_used
            from token_transfers right join `masterarbeit-245718.ethereum_us.{view_id_addresses}` on from_address = address 
            group by address
            order by diff_token_used DESC
            """.format(start=observation_period[0], end=observation_period[1], view_id_addresses=view_ids["addresses"]); 

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'diff_token_used_random_100_2020_02_15_2020_02_15_view'

## Merge Views

In [281]:
# Remove non-feature views
for name in ["traces","addresses", "traces_usd"]:
    view_names.remove(name)

In [282]:
current_view_name = "features"
sql_query = "select * from "

for index, view_name in enumerate(view_names):
    sql_query += "masterarbeit-245718.ethereum_us.{}".format(view_ids[view_name])
    if index != 0:
        sql_query += " using(address)"
    if index != (len(view_names) - 1):
        sql_query += " inner join "
        
# sql_query

view_ids[current_view_name] = "{}_{}_{}_{}_{}_view".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))
view_ref = client.dataset(dataset_id).table(view_ids[current_view_name])
view = bigquery.Table(view_ref)
view.view_query = sql_query
view = client.create_table(view)  # API request
print("Successfully created view: '{}'".format(view_ids[current_view_name]))

Successfully created view: 'features_random_100_2020_02_15_2020_02_15_view'

## Estimate Costs

In [283]:
table_name = "features"
table_id = "{}_{}_{}_{}_{}".format(table_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))

job_config = bigquery.QueryJobConfig(destination="masterarbeit-245718.ethereum_us.{table_id}".format(table_id = table_id))
job_config.dry_run = True
job_config.use_query_cache = False

sql = """
    SELECT *
    FROM `masterarbeit-245718.ethereum_us.{view_id_features}` 
""".format(view_id_features = view_ids["features"])

# Start the query, passing in the extra configuration.
query_job = client.query(sql, job_config=job_config)  # Make an API request.

cost_dollars = (query_job.total_bytes_processed / 10 ** 12) * 5

print("{} Mega-Bytes will be processed".format(round(query_job.total_bytes_processed / 10 ** 6)))
print("It will cost ${}.".format(cost_dollars))

692 Mega-Bytes will be processed
It will cost $0.003462201575.

## Execute Query (WARNING: this operation costs money!)

In [284]:
table_name = "features"
table_id = "{}_{}_{}_{}_{}".format(table_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))

job_config = bigquery.QueryJobConfig(destination="masterarbeit-245718.ethereum_us.{table_id}".format(table_id = table_id))

sql = """
    SELECT *
    FROM `masterarbeit-245718.ethereum_us.{view_id_features}` 
""".format(view_id_features = view_ids["features"])

# Start the query, passing in the extra configuration.
if (cost_dollars > max_bigquery_costs_usd):
    raise Exception("Warning: This operation costs $ {}.".format(cost_dollars))

query_job = client.query(sql, job_config=job_config)  # Make an API request.
data = query_job.result().to_dataframe(); 

data

,address,weiReceived,weiSent,numberOfTranscationsReceived,numberOfTranscationsSent,avg_time_diff_received_tx,avg_time_diff_sent_tx,minedBlocks,stddev_received_tx,stddev_sent_tx,...,avg_usd_received,monthly_wei_sent,monthly_wei_received,monthly_usd_sent,monthly_usd_received,monthly_outgoing_txns,monthly_incoming_txns,number_of_contracts_created,contract_tx,diff_token_used
0,0x8e38949dfc506a96dd89af09dd33721deca23c0f,None,None,NaN,NaN,0.000000,0.000000,0,NaN,NaN,...,NaN,None,None,NaN,NaN,NaN,NaN,0,1,0
1,0x53f8382456ed6a4b5f88690415165dc4bfb135f5,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
2,0x142066eeba654e744cb4089c584062e3cfb0066a,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
3,0xb96376d80a16af6700dcbaba2a459dd7856f103a,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
4,0x56f02a19356fce67135fbe026a4141b69dac0cca,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
5,0xc7ddf05806f12272ca9fa913148efa6bd3f369c2,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,1
6,0x2bb7c1cf3eda8ec2d416c1b1860bfcf82dd58100,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
7,0x801081f7c63457b6dff73fae4c354e82d534453c,0,0,0.0,3.0,0.000000,5271.500000,0,NaN,3619.679613,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,3.0,0.0,0,3,0
8,0x45df22651d1d4f8a5b1bad59aa55031f33e9f633,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,1
9,0xca3c36df2d995754a5cd862869bae7a152b83733,0,0,0.0,2.0,0.000000,210.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,2.0,0.0,0,2,2
10,0xeb315e0446a3294010036ef0cc0dca31dae69423,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
11,0xc6b9f5f68f1abeb66be60b518e989832d27b729c,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,0
12,0x6d717788101532773ef520f9167affaf69dd00db,0,0,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,1.0,0.0,0,1,1
13,0x508ebdd0a68e4c3c7647a7738eda265d235a1f46,0,0,0.0,4.0,0.000000,9533.666667,0,NaN,13073.795407,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,4.0,0.0,0,4,1
14,0x9fd7589df46de9c7afdad64f498fdd1d73924d21,0,112000000000000,0.0,2.0,0.000000,39375.000000,0,NaN,NaN,...,0.000000e+00,112000000000000,0,2.966320e+16,0.000000e+00,2.0,0.0,0,0,0
15,0xc1c88b0d513498c5f2d5770cd6566bf12464cad2,0,1500000000000000,0.0,3.0,0.000000,12584.000000,0,NaN,17507.963902,...,0.000000e+00,1500000000000000,0,3.972750e+17,0.000000e+00,3.0,0.0,0,0,0
16,0xc9d4ad2036277dac250a7f847c5f170706882ebe,0,39832000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,39832000000000000,0,1.054951e+19,0.000000e+00,1.0,0.0,0,0,0
17,0x1adcd30f688d6cdbd2df141b2e7c4e533364042c,0,650000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,650000000000000,0,1.721525e+17,0.000000e+00,1.0,0.0,0,0,0
18,0x2ac8752b70aef30ebd45c7c3981cbfd9ecfee988,0,9748000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9748000000000000,0,2.581758e+18,0.000000e+00,1.0,0.0,0,0,0
19,0xa339a4782fac3db12358bd8485e15f5766a380e4,0,9748000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9748000000000000,0,2.581758e+18,0.000000e+00,1.0,0.0,0,0,0
20,0x2763cf9a3f2a0eb14b0f4407b2cdc8e3eca0ed82,0,9748000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9748000000000000,0,2.581758e+18,0.000000e+00,1.0,0.0,0,0,0
21,0x2776b2322968cf3b25ee26495e4aed0f08373d04,0,9916000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9916000000000000,0,2.626253e+18,0.000000e+00,1.0,0.0,0,0,0
22,0xa698b186a08d1fcd1efb40d918853a2b247e5f76,0,9622000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9622000000000000,0,2.548387e+18,0.000000e+00,1.0,0.0,0,0,0
23,0xb31f3e516cfb02f64dafe0d071794a4d73e06a66,0,9790000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9790000000000000,0,2.592882e+18,0.000000e+00,1.0,0.0,0,0,0
24,0x215bf4ee39f0bf3dda52c3fe8b521b1ecad6950b,0,9790000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,9790000000000000,0,2.592882e+18,0.000000e+00,1.0,0.0,0,0,0
25,0xb8ba98522f9f26c7fffd97d338dbb2afb00a16cc,0,290000000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,290000000000000000,0,7.680650e+19,0.000000e+00,1.0,0.0,0,1,0
26,0x702b7701dde4b771efa15f029f1248f6cd38c0d0,0,13000000000000000000,0.0,1.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,13000000000000000000,0,3.443050e+21,0.000000e+00,1.0,0.0,0,1,0
27,0x128b8ef2ed7f511cea9fd53bdc035b8fac5c2d3e,0,641845660000000000,0.0,4.0,0.000000,5.333333,0,NaN,9.237604,...,0.000000e+00,641845660000000000,0,1.699928e+20,0.000000e+00,4.0,0.0,0,0,0
28,0xf05128b59d4b3cd20619d05f1b84a1c721a6e7ae,0,0,1.0,0.0,0.000000,0.000000,0,NaN,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0.0,1.0,0,0,0
29,0x2b1bf2eae4dac9c52e40a14e5b532a610c68bac4,3533397800000000000,0,1.0,0.0,0.000000,0.000000,0,NaN,NaN,...,9.358204e+20,0,3533397800000000000,0.000000e+00,9.358204e+20,0.0,1.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0xdb6649e25a0d67d71ad798827239d5625ba1899a,17900497512437811,17795497512437811,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,4.740947e+18,17795497512437811,17900497512437811,4.713138e+18,4.740947e+18,1.0,1.0,0,0,0
85,0x068250567893ace487f7e663f2903b44b266eb77,11201855004180088,107331310137304800,1.0,2.0,0.000000,3376.000000,0,NaN,NaN,...,2.966811e+18,107331310137304800,11201855004180088,2.842670e+19,2.966811e+18,2.0,1.0,0,0,0
86,0xb184a08af2757ea0909099aa02d87d1d3b8f28de,70722608249792252,70344608249792252,1.0,3.0,0.000000,4501.500000,0,NaN,5858.379682,...,1.873088e+19,70344608249792252,70722608249792252,1.863077e+19,1.873088e+19,3.0,1.0,0,0,0
87,0x03bd518d79e84561fb24ad54ce39fffae1b23498,3450168000000000000,3450000000000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,9.137770e+20,3450000000000000000,3450168000000000000,9.137325e+20,9.137770e+20,1.0,1.0,0,0,0
88,0x9debb014518a13e6d36c6836e85da4629ba5149f,3892700000000000000,3892658000000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,1.030982e+21,3892658000000000000,3892700000000000000,1.030970e+21,1.030982e+21,1.0,1.0,0,0,0
89,0x027c15807ad80ad1dacfac64a0737b5fea2169ac,3000000000000000000,3098508999993952000,1.0,2.0,0.000000,5408.000000,0,NaN,NaN,...,7.945500e+20,3098508999993952000,3000000000000000000,8.206401e+20,7.945500e+20,2.0,1.0,0,0,0
90,0x3c43e3ccfb9def13f15c189b181111605531623b,2000000000000000000,1999895000000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,5.297000e+20,1999895000000000000,2000000000000000000,5.296722e+20,5.297000e+20,1.0,1.0,0,0,0
91,0x57875243371a73fbf7681752558a84d2f1b1eef7,314780000000000000,313163800000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,8.336948e+19,313163800000000000,314780000000000000,8.294143e+19,8.336948e+19,1.0,1.0,0,0,0
92,0x7bd7ca03e69df2721fa0473e9c06ac6440b5b4bd,920000000000000000,919580000000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,2.436620e+20,919580000000000000,920000000000000000,2.435508e+20,2.436620e+20,1.0,1.0,0,0,0
93,0x5d0117ca787275a16dc9ac09a29d536fbaefd2c8,6104000000000000000,6103832145000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,1.616644e+21,6103832145000000000,6104000000000000000,1.616600e+21,1.616644e+21,1.0,1.0,0,0,0
94,0x2f6def388a5d86c1dd7a1e55037798c9085977e4,498770440000000000,498539440000000000,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,1.320994e+20,498539440000000000,498770440000000000,1.320382e+20,1.320994e+20,1.0,1.0,0,0,0
95,0x2c6bcc64fbfe4c0f302c384c30d53e4b1b97b344,163253733040924456,162965101440924456,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,4.323775e+19,162965101440924456,163253733040924456,4.316131e+19,4.323775e+19,1.0,1.0,0,1,0
96,0xe8048eeb4c8296990cc293142907098ee01d2cbb,15007878021143929801,15001878021143929801,1.0,1.0,0.000000,0.000000,0,NaN,NaN,...,3.974836e+21,15001878021143929801,15007878021143929801,3.973247e+21,3.974836e+21,1.0,1.0,0,0,0
97,0xbb904991c0c706de29826ba53b4ee18192be6a20,2402006129002555040,2381524900000000000,1.0,3.0,0.000000,628.000000,0,NaN,851.356565,...,6.361713e+20,2381524900000000000,2402006129002555040,6.307469e+20,6.361713e+20,3.0,1.0,0,0,0
98,0xbf4bbc309c1bcdbdc367b5521323b0eb592cbf6a,15999100000000000000,15392646103213563617,1.0,6.0,0.000000,6546.000000,0,NaN,11910.757008,...,4.237362e+21,15392646103213563617,15999100000000000000,4.076742e+21,4.237362e+21,6.0,1.0,0,2,1
99,0x70926a75d4a2976d3571c09acbdc3cba58d1486d,5000000000000000,0,2.0,1.0,143.000000,0.000000,0,NaN,NaN,...,6.621250e+17,0,5000000000000000,0.000000e+00,1.324250e+18,1.0,2.0,0,1,1
100,0x08337fabdf2c2743272ebdb541404feb78b314d1,2744280000000000,0,2.0,2.0,14395.000000,14389.000000,0,NaN,NaN,...,3.634113e+17,0,2744280000000000,0.000000e+00,7.268226e+17,2.0,2.0,0,2,2
101,0x41d57e163b6c64fca2cd6535fcaa199b1fedd98b,200096941662610000,0,2.0,0.0,72342.000000,0.000000,0,NaN,NaN,...,2.649784e+19,0,200096941662610000,0.000000e+00,5.299567e+19,0.0,2.0,0,0,0
102,0xad38da502bd092b0af8ec465dbf543dcf58e443e,355751035230133824,0,2.0,0.0,5705.000000,0.000000,0,NaN,NaN,...,4.711033e+19,0,355751035230133824,0.000000e+00,9.422066e+19,0.0,2.0,0,0,0
103,0x3396541288d83569052204840699fd81e1cde95f,65570036177765000,65393880000000000,2.0,2.0,2355.000000,9959.000000,0,NaN,NaN,...,8.683112e+18,65393880000000000,65570036177765000,1.731957e+19,1.736622e+19,2.0,2.0,0,0,0
104,0xc75a2a8eca1fefa397dc0bc79b72ebe547c8ba4d,70347365574072565,110369130000000000,2.0,1.0,2730.000000,0.000000,0,NaN,NaN,...,9.315750e+18,110369130000000000,70347365574072565,2.923126e+19,1.863150e+19,1.0,2.0,0,0,0
105,0xd602ed6ae7698910bb244df5cd01f73964cc54ec,5000000000000000000,5000000000000000000,2.0,12.0,87.000000,7.909091,0,NaN,26.231487,...,6.621250e+20,5000000000000000000,5000000000000000000,1.324250e+21,1.324250e+21,12.0,2.0,0,15,2
106,0x2d89c9366c96b7ccf882d19a250538f97a617a77,150000000000000000,100000000000000000,3.0,1.0,356.000000,0.000000,0,271.529004,NaN,...,1.324250e+19,100000000000000000,150000000000000000,2.648500e+19,3.972750e+19,1.0,3.0,0,1,0
107,0x5a0ba7c22122235d4e2bae3ac82652b830a52462,260000000000000000,210000000000000000,4.0,2.0,4111.000000,3563.000000,0,5155.948409,NaN,...,1.721525e+19,210000000000000000,260000000000000000,5.561850e+19,6.886100e+19,2.0,4.0,0,1,0
108,0x6df393a76950abdc69aaecc2da0181460ce59853,500000000000000000,500000000000000000,4.0,21.0,182.333333,27.350000,0,170.951260,86.822429,...,3.310625e+19,500000000000000000,500000000000000000,1.324250e+20,1.324250e+20,21.0,4.0,0,43,1
109,0x03d4695df4b8d321d31c94de8f430e3450f50498,3203150942991513183,3130593374962188288,5.0,15.0,1179.500000,355.285714,0,1777.886479,900.727008,...,1.696709e+20,3130593374962188288,3203150942991513183,8.291377e+20,8.483545e+20,15.0,5.0,0,15,3
110,0x07abbc984b1a218506b5c6a939c302149c677690,513740221567421101,144198548158194705,17.0,27.0,4377.937500,3000.730769,0,6851.477247,5103.623470,...,8.003770e+18,144198548158194705,513740221567421101,3.819099e+19,1.360641e+20,27.0,17.0,0,27,1
111,0xd85275fa3f3ef844e9d4c38822552568039f1bd4,13979077651799986,13979077651799986,32.0,16.0,442.645161,899.266667,0,1442.002116,2113.171126,...,1.156987e+17,13979077651799986,13979077651799986,3.702359e+18,3.702359e+18,16.0,32.0,0,0,0
112,0x6de037ef9ad2725eb40118bb1702ebb27e4aeb24,0,0,37.0,0.0,2325.916667,0.000000,0,7698.300122,NaN,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,0.0,37.0,0,37,0
113,0x93efcf86b6a7a33ae961a7ec6c741f49bce11da7,0,0,58.0,58.0,1426.824561,1426.824561,0,3439.469141,3439.469141,...,0.000000e+00,0,0,0.000000e+00,0.000000e+00,58.0,58.0,0,58,0

# Temporary Scripts

In [285]:
# table_id = "{}_{}_{}_{}_{}_tmp".format(current_view_name, address_selection, approximate_number_of_addresses, observation_period[0].replace("-","_"),observation_period[1].replace("-","_"))

# job_config = bigquery.QueryJobConfig(destination="masterarbeit-245718.ethereum_us.{table_id}".format(table_id = table_id))

# sql = """
#     SELECT *
#     FROM `masterarbeit-245718.ethereum_us.{view_id_diff_token_used}` 
# """.format(view_id_diff_token_used = view_ids["diff_token_used"])

# # Start the query, passing in the extra configuration.
# query_job = client.query(sql, job_config=job_config)  # Make an API request.
# data = query_job.result().to_dataframe(); 

# data