In [149]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from google.cloud import bigquery
import time
%env GOOGLE_APPLICATION_CREDENTIALS=../secrets/bigquery-service-account.json 
client = bigquery.Client()
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

env: GOOGLE_APPLICATION_CREDENTIALS=../secrets/bigquery-service-account.json

In [150]:
%load_ext google.cloud.bigquery

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [151]:
%%bigquery metadata --project masterarbeit-245718 --verbose 
SELECT * FROM `bigquery-public-data`.crypto_ethereum.INFORMATION_SCHEMA.COLUMNS where table_name = "traces"

Executing query with job ID: 1924ec4b-b3ff-4d7e-aa4e-f5f8fa318b47
Query executing: 0.49s
Query complete after 1.25s

In [152]:
size_sample_data = 500

In [153]:
metadata.to_html("./test.html")

### Generate sample data for "call_type"

In [154]:
# %%bigquery call_types_sql_result --project masterarbeit-245718 --verbose 
# select DISTINCT call_type from `bigquery-public-data.crypto_ethereum.traces`
# where DATE(block_timestamp) >= '2019-07-6' AND DATE(block_timestamp) <= '2019-7-7'

In [155]:
call_types = ['call', 'delegatecall', 'staticcall', 'callcode', None]
prob_call_types = [0.7, 0.05, 0.025, 0.025, 0.2]

In [156]:
call_type_sample = np.random.choice(call_types, 2*size_sample_data, p=prob_call_types)

# Generate sample data for "trace_type"

In [158]:
additional_trace_types = ["create", "suicide", "reward", "genesis", "daofork"]
prob_additional_trace_types = [0.0625, 0.0125, 0.9, 0.0125, 0.0125]

trace_type_sample = []
for ct in call_type_sample:
    if ct == None:
        trace_type_sample.append(np.random.choice(additional_trace_types, p=prob_additional_trace_types))
    else:
        trace_type_sample.append("call")

### Generate sample data for "status"

In [159]:
# %%bigquery status_values --project masterarbeit-245718 --verbose 
# select DISTINCT status from `bigquery-public-data.crypto_ethereum.traces`
# where DATE(block_timestamp) >= '2019-07-6' AND DATE(block_timestamp) <= '2019-7-7'

In [160]:
status_values = [0, 1]
probs_status_values = [0.05, 0.95]

In [161]:
probs_status_values = [0.05, 0.95]

In [162]:
status_sample = np.random.choice(status_values, 2*size_sample_data, p=probs_status_values)

### Generate sample accounts

In [163]:
exchanges = ["exchange_{}".format(i) for i in range(1,int(0.05*size_sample_data + 1))]

In [164]:
speculators = ["speculator_{}".format(i) for i in range(1,int(0.95*size_sample_data + 1))]

In [165]:
sample_addresses = []
sample_addresses.extend(speculators)
sample_addresses.extend(exchanges)

In [166]:
sample_addresses = pd.DataFrame(sample_addresses, columns=["address"])

## Upload 'addresses' table to bigquery

In [167]:
sample_addresses.to_gbq('ethereum_us.sample_addresses', if_exists="replace")

1it [00:09,  9.56s/it]

### Generate sample transactions (speculators to exchanges)

In [168]:
from_spec_addresses = [np.random.choice(speculators) for i in range(int(2*size_sample_data/2))]
to_ex_addresses = [np.random.choice(exchanges) for i in range(int(2*size_sample_data/2))]
values_spec_to_ex = np.random.randint(1, 20, int(2*size_sample_data/2))

In [169]:
txdata1 = pd.DataFrame(zip(from_spec_addresses, to_ex_addresses, values_spec_to_ex), columns=["from_address", "to_address", "value"])

### Generate sample transactions (exchanges to speculators)

In [170]:
to_spec_addresses = [np.random.choice(speculators) for i in range(int(2*size_sample_data/2))]
from_ex_addresses = [np.random.choice(exchanges) for i in range(int(2*size_sample_data/2))]
values_ex_to_spec = np.random.randint(1, 5, int(2*size_sample_data/2))

In [171]:
txdata2 = pd.DataFrame(zip(from_ex_addresses, to_spec_addresses, values_ex_to_spec), columns=["from_address", "to_address", "value"])

Anmerkung: Die speculators schicken mehr Geld zu den BÃ¶rsen als umgekehrt.

In [172]:
txdata = txdata1.append(txdata2).reset_index(drop=True)
txdata = txdata.sample(frac=1)

### Generate sample "block_timestamps"

In [173]:
import datetime as datetime

base = datetime.datetime.strptime("2020-02-02", '%Y-%m-%d')
block_timestamps = [base - datetime.timedelta(seconds=x) for x in range(0, 12*size_sample_data, 12)]
base = base - datetime.timedelta(days=31)
block_timestamps.extend([base - datetime.timedelta(seconds=x) for x in range(0, 12*size_sample_data, 12)])

### Merge data to sample "traces" table

In [174]:
sample_traces = txdata.copy()

In [175]:
sample_traces["status"] = status_sample

In [176]:
sample_traces["call_type"] = call_type_sample

In [177]:
sample_traces["trace_type"] = trace_type_sample

In [178]:
sample_traces["block_timestamp"] = block_timestamps

In [179]:
sample_traces.sort_values(by="from_address")

,from_address,to_address,value,status,call_type,trace_type,block_timestamp
959,exchange_1,speculator_339,2,1,call,call,2020-01-01 23:49:24
992,exchange_1,speculator_188,1,1,call,call,2020-01-01 22:43:00
624,exchange_1,speculator_31,2,1,call,call,2020-01-01 22:45:36
606,exchange_1,speculator_234,3,1,call,call,2020-02-01 23:27:12
930,exchange_1,speculator_188,2,1,None,reward,2020-01-01 22:56:00
544,exchange_1,speculator_324,3,1,call,call,2020-02-01 23:16:12
947,exchange_1,speculator_39,3,1,call,call,2020-01-01 23:04:36
968,exchange_1,speculator_387,1,1,None,reward,2020-02-01 22:58:00
537,exchange_1,speculator_398,2,1,call,call,2020-01-01 22:26:12
890,exchange_1,speculator_140,1,1,call,call,2020-01-01 23:16:00
536,exchange_1,speculator_291,1,1,staticcall,call,2020-02-01 22:53:12
735,exchange_1,speculator_211,4,1,call,call,2020-02-01 22:51:12
797,exchange_1,speculator_29,1,0,None,reward,2020-02-01 22:47:24
639,exchange_1,speculator_165,1,1,call,call,2020-01-01 23:21:12
714,exchange_1,speculator_65,1,1,call,call,2020-01-01 23:27:12
961,exchange_1,speculator_194,3,1,call,call,2020-01-01 22:33:36
648,exchange_1,speculator_433,3,1,call,call,2020-02-01 22:33:48
723,exchange_1,speculator_135,1,1,call,call,2020-01-01 23:50:48
615,exchange_1,speculator_425,1,1,call,call,2020-01-01 23:51:12
939,exchange_1,speculator_421,3,1,call,call,2020-02-01 22:28:24
782,exchange_1,speculator_179,2,1,call,call,2020-01-01 23:28:24
996,exchange_1,speculator_348,3,1,call,call,2020-01-01 23:42:12
964,exchange_10,speculator_392,3,1,None,reward,2020-01-01 23:25:00
622,exchange_10,speculator_325,3,1,call,call,2020-02-01 23:38:48
912,exchange_10,speculator_120,2,1,call,call,2020-02-01 23:37:48
535,exchange_10,speculator_45,1,1,None,reward,2020-01-01 23:58:00
573,exchange_10,speculator_77,1,1,staticcall,call,2020-02-01 23:23:00
963,exchange_10,speculator_186,4,0,callcode,call,2020-02-01 23:22:48
532,exchange_10,speculator_184,1,1,staticcall,call,2020-02-01 23:19:48
526,exchange_10,speculator_468,2,1,call,call,2020-01-01 23:43:48
...,...,...,...,...,...,...,...
341,speculator_77,exchange_12,14,1,call,call,2020-02-01 23:00:12
475,speculator_77,exchange_14,13,1,None,reward,2020-01-01 22:42:48
185,speculator_8,exchange_19,10,1,call,call,2020-01-01 23:40:36
304,speculator_8,exchange_2,6,1,call,call,2020-02-01 23:19:12
208,speculator_80,exchange_17,16,1,call,call,2020-02-01 23:23:36
336,speculator_83,exchange_9,5,1,None,reward,2020-01-01 23:07:48
374,speculator_84,exchange_12,9,1,call,call,2020-02-01 23:57:00
497,speculator_84,exchange_9,10,0,call,call,2020-02-01 23:41:36
370,speculator_86,exchange_9,4,1,staticcall,call,2020-02-01 23:39:36
88,speculator_88,exchange_16,4,1,call,call,2020-01-01 22:22:12
171,speculator_88,exchange_24,2,1,call,call,2020-01-01 23:11:48
499,speculator_89,exchange_16,6,1,None,create,2020-01-01 23:24:12
40,speculator_89,exchange_24,8,1,call,call,2020-01-01 23:58:36
177,speculator_9,exchange_23,18,1,call,call,2020-01-01 22:20:48
451,speculator_90,exchange_4,14,1,call,call,2020-01-01 22:25:00
298,speculator_90,exchange_4,7,1,call,call,2020-01-01 23:49:12
434,speculator_91,exchange_19,5,1,call,call,2020-02-01 22:28:00
388,speculator_92,exchange_19,5,1,None,reward,2020-01-01 23:12:00
10,speculator_92,exchange_12,15,1,call,call,2020-01-01 22:24:00
290,speculator_92,exchange_12,10,1,call,call,2020-02-01 23:13:12
173,speculator_92,exchange_21,15,1,None,reward,2020-01-01 23:09:00
95,speculator_93,exchange_9,6,1,call,call,2020-02-01 22:41:12
401,speculator_93,exchange_9,14,1,staticcall,call,2020-02-01 22:25:00
292,speculator_93,exchange_19,16,1,call,call,2020-01-01 23:50:00
21,speculator_95,exchange_22,7,1,call,call,2020-01-01 22:59:24
14,speculator_95,exchange_18,16,1,call,call,2020-02-01 23:10:24
461,speculator_96,exchange_25,16,1,call,call,2020-01-01 22:23:12
107,speculator_97,exchange_4,11,1,call,call,2020-02-01 22:51:24
459,speculator_98,exchange_8,8,1,None,create,2020-02-01 22:21:48
373,speculator_98,exchange_17,13,1,call,call,2020-02-01 23:52:00

### Upload "traces" table to bigquery

In [180]:
sample_traces.to_gbq('ethereum_us.sample_traces', if_exists="replace")

1it [00:04,  4.44s/it]

### Test SQL command for retrieving "weiReceived", "weiSent"

In [181]:
%%bigquery res1 --project masterarbeit-245718 --verbose 
with weiView as (

  with weiReceivedView as (
        
      -- debits
      select to_address, sum(ifnull(value, 0)) as weiReceived
      from `ethereum_us.sample_traces` 
      where to_address is not null
      and status = 1
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by to_address
        
  ), weiSentView as (
  
      -- credits
      select from_address, sum(ifnull(value, 0)) as weiSent
      from  `ethereum_us.sample_traces` 
      where from_address is not null
      and status = 1
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by from_address
  ) 
  select 
  CASE 
    when to_address is not null then to_address
    when from_address is not null then from_address
  end as address, 
  ifnull(weiReceived,0) as weiReceived, 
  ifnull(weiSent,0) as weiSent
  from weiReceivedView full outer join weiSentView on from_address = to_address
) 
select address, weiReceived, weiSent from weiView right join `ethereum_us.sample_addresses`  using(address)

Executing query with job ID: 917f4aab-7383-4eb3-a8db-a20ea53e1d81
Query executing: 0.55s
Query complete after 3.35s

In [182]:
res2 = res1.copy()
res2["balance"] = res1.weiReceived - res1.weiSent
res2 = res2.set_index("address")
res2 = res2.sort_values(by="address", ascending=False)
res2 = res2.astype("float")
res2 = res2.fillna(0.)
balance_result_sql = res2

In [183]:
%%bigquery sample_traces --project masterarbeit-245718 --verbose 
select * from `ethereum_us.sample_traces`

Executing query with job ID: 0dcddbe9-f161-4f12-a671-2fa31d5e7c55
Query executing: 0.50s
Query complete after 1.29s

In [184]:
data1 = [row for (index, row) in sample_traces.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
data1 = pd.DataFrame(data1)

In [185]:
data2 = pd.DataFrame(index=set(data1["from_address"].unique()) | set(data1["to_address"].unique()))
data2["weiReceived"] = data1.groupby('to_address').sum().value
data2["weiSent"] = data1.groupby('from_address').sum().value
data2["weiSent"] = data2["weiSent"].fillna(0.)
data2["weiReceived"] = data2["weiReceived"].fillna(0.)
data2["balance"] = data2["weiReceived"] - data2["weiSent"]
data2.index = data2.index.rename("address")
data2 = data2.reindex(sample_addresses["address"], fill_value=0.)
data2 = data2.sort_values(by="address", ascending=False)
balance_result_py = data2

In [186]:
balance_result_py.head()
balance_result_sql.head()

               weiReceived  weiSent  balance
address
speculator_99          6.0      0.0      6.0
speculator_98          2.0     21.0    -19.0
speculator_97          0.0     11.0    -11.0
speculator_96          3.0     16.0    -13.0
speculator_95          3.0     23.0    -20.0

               weiReceived  weiSent  balance
address
speculator_99          6.0      0.0      6.0
speculator_98          2.0     21.0    -19.0
speculator_97          0.0     11.0    -11.0
speculator_96          3.0     16.0    -13.0
speculator_95          3.0     23.0    -20.0

In [187]:
pd.testing.assert_frame_equal(balance_result_py, balance_result_sql)
print("weiSent, weiReceived Test succeeded!!")

weiSent, weiReceived Test succeeded!!

### Test SQL command for retrieving "txSent" and "txReceived"

In [188]:
%%bigquery res2 --project masterarbeit-245718 --verbose 
with txView as (

  with txSent as (
      SELECT from_address, count(*) as numberOfTranscationsSent FROM `masterarbeit-245718.ethereum_us.sample_traces` 
      where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by from_address
    ), txReceived as (
      SELECT to_address, count(*) as numberOfTranscationsReceived FROM `masterarbeit-245718.ethereum_us.sample_traces` 
      where to_address is not null and status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
      group by to_address
    ) 
    SELECT 
    CASE  
      WHEN to_address IS NOT NULL THEN to_address
      WHEN from_address IS NOT NULL THEN from_address
    END AS address,
    IFNULL(numberOfTranscationsReceived, 0) as numberOfTranscationsReceived, 
    IFNULL(numberOfTranscationsSent, 0) as numberOfTranscationsSent
    from txReceived FULL OUTER JOIN txSent on to_address = from_address
) 

    select address, numberOfTranscationsReceived, numberOfTranscationsSent from txView right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: 91c962cc-299b-4b44-ada5-5919f49969ef
Query executing: 0.60s
Query complete after 2.41s

In [189]:
res3 = res2.copy()
res3 = res3.fillna(0.)
res3 = res3.sort_values(by="address", ascending=False)
tx_sent_received_result_sql = res3.set_index("address", drop=True)

In [190]:
data3 = pd.DataFrame(index=set(data1["from_address"].unique()) | set(data1["to_address"].unique()))
data3["numberOfTranscationsReceived"] = data1.groupby('to_address').count().value
data3["numberOfTranscationsSent"] = data1.groupby('from_address').count().value
data3 = data3.fillna(0)
data3 = data3.astype("int")
data3.index = data3.index.rename("address")
data3 = data3.reindex(sample_addresses["address"], fill_value=0.)
data3 = data3.sort_values(by="address", ascending=False)
tx_sent_received_result_py = data3

In [191]:
pd.testing.assert_frame_equal(tx_sent_received_result_py, tx_sent_received_result_sql)
print("txSent, txReceived Test succeeded !!")

txSent, txReceived Test succeeded !!

In [192]:
features = balance_result_sql.join(tx_sent_received_result_sql,how="left")
features = features.reset_index()
features.to_gbq('ethereum_us.sample_features', if_exists="replace")

1it [00:03,  3.68s/it]

# avg_wei_sent, avg_wei_recd

In [193]:
%%bigquery --project masterarbeit-245718 --verbose 

select 
    address, weiReceived, weiSent, balance, numberOfTranscationsReceived, numberOfTranscationsSent,
    CASE 
        when numberOfTranscationsSent > 0 THEN weiSent / numberOfTranscationsSent 
        when numberOfTranscationsSent = 0 THEN 0 
    END as agv_wei_sent,
    CASE 
        when numberOfTranscationsReceived > 0 THEN weiReceived / numberOfTranscationsReceived 
        when numberOfTranscationsReceived = 0 THEN 0 
    END as avg_wei_recd
from `ethereum_us.sample_features`

Executing query with job ID: 9cf79560-a911-4fe0-aab3-e87bae78aaa4
Query executing: 0.51s
Query complete after 1.26s

,address,weiReceived,weiSent,balance,numberOfTranscationsReceived,numberOfTranscationsSent,agv_wei_sent,avg_wei_recd
0,speculator_82,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,speculator_74,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,speculator_72,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,speculator_58,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
4,speculator_5,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
5,speculator_467,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
6,speculator_46,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
7,speculator_457,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
8,speculator_456,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
9,speculator_455,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
10,speculator_44,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
11,speculator_43,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
12,speculator_427,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
13,speculator_423,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
14,speculator_411,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
15,speculator_406,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
16,speculator_400,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
17,speculator_389,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
18,speculator_386,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
19,speculator_382,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
20,speculator_372,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
21,speculator_371,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
22,speculator_37,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
23,speculator_368,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
24,speculator_362,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
25,speculator_359,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
26,speculator_358,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
27,speculator_347,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
28,speculator_344,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
29,speculator_338,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...
470,speculator_269,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
471,speculator_260,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
472,speculator_259,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
473,speculator_25,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
474,speculator_242,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
475,speculator_240,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
476,speculator_228,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
477,speculator_13,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
478,speculator_100,1.0,0.0,1.0,1.0,0.0,0.000000,1.000000
479,speculator_451,1.0,48.0,-47.0,1.0,4.0,12.000000,1.000000
480,exchange_19,201.0,31.0,170.0,20.0,14.0,2.214286,10.050000
481,exchange_12,217.0,44.0,173.0,19.0,16.0,2.750000,11.421053
482,exchange_25,170.0,39.0,131.0,15.0,15.0,2.600000,11.333333
483,exchange_7,186.0,28.0,158.0,20.0,11.0,2.545455,9.300000
484,exchange_2,218.0,44.0,174.0,22.0,18.0,2.444444,9.909091
485,exchange_20,187.0,38.0,149.0,15.0,15.0,2.533333,12.466667
486,exchange_13,51.0,54.0,-3.0,9.0,22.0,2.454545,5.666667
487,exchange_15,114.0,53.0,61.0,11.0,22.0,2.409091,10.363636
488,exchange_21,164.0,41.0,123.0,16.0,15.0,2.733333,10.250000
489,exchange_3,196.0,41.0,155.0,17.0,17.0,2.411765,11.529412
490,exchange_17,281.0,62.0,219.0,24.0,22.0,2.818182,11.708333
491,exchange_16,157.0,37.0,120.0,18.0,16.0,2.312500,8.722222
492,exchange_18,173.0,35.0,138.0,17.0,14.0,2.500000,10.176471
493,exchange_10,181.0,48.0,133.0,18.0,18.0,2.666667,10.055556
494,exchange_4,253.0,38.0,215.0,22.0,16.0,2.375000,11.500000
495,exchange_22,99.0,61.0,38.0,13.0,22.0,2.772727,7.615385
496,exchange_1,111.0,42.0,69.0,13.0,20.0,2.100000,8.538462
497,exchange_11,150.0,41.0,109.0,14.0,16.0,2.562500,10.714286
498,exchange_8,207.0,34.0,173.0,21.0,15.0,2.266667,9.857143
499,exchange_5,223.0,59.0,164.0,21.0,22.0,2.681818,10.619048

#### Test: avg_wei_sent, avg_wei_recd

BenÃ¶tigt keine Tests, da der SQL Befehl sehr einfach aufgebaut ist.

### Test avg time between tx

In [194]:
%%bigquery res4 --project masterarbeit-245718 --verbose 
with timeRecView as (

  with receivedTx as (
    SELECT to_address, count(*) as numberOfTranscationsReceived FROM `masterarbeit-245718.ethereum_us.sample_traces` 
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by to_address),
  
  timeStampDiffs as (
    SELECT to_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
    FROM `masterarbeit-245718.ethereum_us.sample_traces`
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by to_address
  
  ) select to_address as address, 
  CASE 
    when (numberOfTranscationsReceived - 1)  > 0 then timestampDiff / (numberOfTranscationsReceived - 1) 
    else 0
  end as avgTimeDiffBetweenReceivedTransactions
  from receivedTx inner join  timeStampDiffs using(to_address)
)

select address, ifnull(avgTimeDiffBetweenReceivedTransactions,0) as avgTimeDiffBetweenReceivedTransactions from timeRecView right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: c883424a-35ff-4bd5-b489-9cb3f95a61c2
Query executing: 1.36s
Query complete after 2.15s

In [195]:
res6 = res4.set_index("address", drop=True)
res6 = res6.fillna(0.)
res6 = res6.sort_values(by="address")
avg_time_diff_receivedtx_result_sql = res6

In [196]:
%%bigquery res5 --project masterarbeit-245718 --verbose 
with timeSentView as (

  with sentTx as (
    SELECT from_address, count(*) as numberOfTranscationsSent FROM `masterarbeit-245718.ethereum_us.sample_traces` 
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by from_address),
  timeStampDiffs as (
    SELECT from_address, TIMESTAMP_DIFF(MAX(block_timestamp), MIN( block_timestamp ), second ) as timestampDiff
    FROM `masterarbeit-245718.ethereum_us.sample_traces`
    where to_address is not null 
      and status = 1 
      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
    group by from_address
  ) select from_address as address, 
  CASE 
    when (numberOfTranscationsSent - 1)  > 0 then timestampDiff / (numberOfTranscationsSent - 1) 
    else 0
  end as avgTimeDiffBetweenSentTransactions
     from sentTx inner join  timeStampDiffs using(from_address)
)

select address, ifnull(avgTimeDiffBetweenSentTransactions,0) as avgTimeDiffBetweenSentTransactions from timeSentView right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: ab3fe5e6-43c2-4549-90b1-f6ac92bf451d
Query executing: 0.58s
Query complete after 2.71s

In [197]:
res6 = res5.set_index("address", drop=True)
res6 = res6.fillna(0.)
res6 = res6.sort_values(by="address")
avg_time_diff_senttx_result_sql = res6

In [198]:
res7 = [row for (index, row) in sample_traces.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
res7 = pd.DataFrame(res7)
res8 = res7.groupby("from_address").max().block_timestamp
res9 = res7.groupby("from_address").min().block_timestamp
res10 = res8 - res9
res10 = res10.rename("seconds_diff")
res10 = tx_sent_received_result_py.join(res10, how="right").drop("numberOfTranscationsReceived", axis=1)
res10 = res10.fillna(0.)
res10["avgTimeDiffBetweenSentTransactions"] = res10["seconds_diff"] / (res10["numberOfTranscationsSent"] - 1)
res10["avgTimeDiffBetweenSentTransactions"] = res10["avgTimeDiffBetweenSentTransactions"].fillna(datetime.timedelta(0))
res10 = res10.reindex(sample_addresses["address"], fill_value=0.)
res10.index = res10.index.rename("address")
res10 = res10.sort_values(by="address")
res10 = res10.drop(["numberOfTranscationsSent", "seconds_diff"],axis=1)
res10["avgTimeDiffBetweenSentTransactions"] = [ts.total_seconds() for ts in res10["avgTimeDiffBetweenSentTransactions"]]
avg_time_diff_senttx_result_py = res10

/home/mgsgde/.local/lib/python3.6/site-packages/pandas/core/arrays/timedeltas.py:523: RuntimeWarning: invalid value encountered in true_divide
  result = self._data / other

In [199]:
pd.testing.assert_frame_equal(avg_time_diff_senttx_result_sql, avg_time_diff_senttx_result_py)
print("avgTimeDiffBetweenSentTransactions Test succeeded !!")

avgTimeDiffBetweenSentTransactions Test succeeded !!

In [200]:
features = balance_result_sql.join(tx_sent_received_result_sql,how="left")
features = features.join(avg_time_diff_senttx_result_sql)
features = features.join(avg_time_diff_receivedtx_result_sql)
features = features.sort_values(by="balance", ascending=False)
features = features.fillna(0.0)
import sys
# addresses that have sent/received only one transaction get the avg time max * 2
features["avgTimeDiffBetweenSentTransactions"] = features["avgTimeDiffBetweenSentTransactions"].replace(to_replace=0.0, value=2 * max(features["avgTimeDiffBetweenSentTransactions"]))
features["avgTimeDiffBetweenReceivedTransactions"] = features["avgTimeDiffBetweenReceivedTransactions"].replace(to_replace=0.0, value=2 * max(features["avgTimeDiffBetweenReceivedTransactions"]))

In [201]:
features = features.reset_index()

In [202]:
features.to_gbq('ethereum_us.sample_features', if_exists="replace")

1it [00:03,  3.29s/it]

# Test mined Blocks

In [203]:
%%bigquery sql_res_minedblocks --project masterarbeit-245718 --verbose 

with minedBlocksView as (
    SELECT to_address as address, count(*) as mined_blocks FROM `masterarbeit-245718.ethereum_us.sample_traces`
        where trace_type = "reward"
        group by to_address
    )
select address, ifnull(mined_blocks,0) as minedBlocks from minedBlocksView right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: 685f4cc8-3c82-4398-b06a-43333a6d304e
Query executing: 0.51s
Query complete after 2.67s

In [204]:
features.head()

,address,weiReceived,weiSent,balance,numberOfTranscationsReceived,numberOfTranscationsSent,avgTimeDiffBetweenSentTransactions,avgTimeDiffBetweenReceivedTransactions
0,exchange_17,281.0,62.0,219.0,24.0,22.0,127748.571429,116706.260870
1,exchange_4,253.0,38.0,215.0,22.0,16.0,178944.000000,127774.285714
2,exchange_6,224.0,27.0,197.0,21.0,11.0,268226.400000,134136.600000
3,exchange_2,218.0,44.0,174.0,22.0,18.0,157698.352941,127784.571429
4,exchange_8,207.0,34.0,173.0,21.0,15.0,191635.714286,134148.600000

# Test var(avgTimeDiff...)

In [205]:
%%bigquery res_sql_stddev --project masterarbeit-245718 --verbose 

with timestamp_var as (
    with timestamps_diffs as (
        
        with timestamps_preceding_tx as (
            
            with timestamps_sent_tx as (
                select from_address, block_timestamp from `masterarbeit-245718.ethereum_us.sample_traces`
                    where from_address is not null 
                      and status = 1 
                      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
            )
            
            select from_address, block_timestamp,
                lag(block_timestamp) OVER (partition by from_address order by block_timestamp asc) as preceding_block_timestamp 
            from timestamps_sent_tx
        )
        
        select from_address, block_timestamp, preceding_block_timestamp, 
            TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
        from timestamps_preceding_tx
    )
    select from_address as address, STDDEV_SAMP(timestampdiff) as stddev_sample  
    from timestamps_diffs group by from_address 
) 
select * from timestamp_var right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: 2862505e-b39d-44e5-bff7-11e7bd57ca02
Query executing: 1.05s
Query complete after 1.48s

In [206]:
stddev_result_sql = res_sql_stddev.set_index("address")
stddev_result_sql = stddev_result_sql.reindex(sample_addresses["address"])
stddev_result_sql = stddev_result_sql.fillna(res_sql_stddev["stddev_sample"].max())
stddev_result_sql = stddev_result_sql.sort_values(by="address")

In [207]:
%%bigquery res_sql_stddev --project masterarbeit-245718 --verbose 

with timestamp_var as (
    
    with timestamps_diffs as (
        
        with timestamps_preceding_tx as (
            
            with timestamps_sent_tx as (
                select to_address, block_timestamp from `masterarbeit-245718.ethereum_us.sample_traces`
                    where to_address is not null 
                      and status = 1 
                      and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null)
            )
            
            select to_address, block_timestamp,
                lag(block_timestamp) OVER (partition by to_address order by block_timestamp asc) as preceding_block_timestamp 
            from timestamps_sent_tx
        )
        
        select to_address, block_timestamp, preceding_block_timestamp, 
            TIMESTAMP_DIFF(block_timestamp, preceding_block_timestamp, second) as timestampdiff
        from timestamps_preceding_tx
    )
    select to_address as address, STDDEV_SAMP(timestampdiff) as stddev_sample  
    from timestamps_diffs group by to_address 
) 
select * from timestamp_var right join `ethereum_us.sample_addresses` using(address)

Executing query with job ID: 76e93553-ff8c-4c6c-9620-a0091798fec6
Query executing: 0.51s
Query complete after 3.14s

In [208]:
stddev_result_sql = res_sql_stddev.set_index("address")
stddev_result_sql = stddev_result_sql.reindex(sample_addresses["address"])
stddev_result_sql = stddev_result_sql.fillna(res_sql_stddev["stddev_sample"].max())
stddev_result_sql = stddev_result_sql.sort_values(by="stddev_sample")

# Verifikation der var(avgTimeDiff...) Tabelle via Python

In [209]:
res7 = [row for (index, row) in sample_traces.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
res7 = pd.DataFrame(res7)
res7 = res7.sort_values(by="block_timestamp", ascending=True)

In [210]:
def calculateDifference(df):
#     from_address = df["from_address"].reset_index(drop=True)[0]
    variance = df["block_timestamp"].diff().std()
    return variance
#     return pd.DataFrame({"variance": [variance]})

res8 = res7.groupby("to_address").apply(lambda df: df["block_timestamp"].diff().std() )
res8 = pd.DataFrame(res8, columns=["stddev_sample"])
res8 = res8.reindex(sample_addresses["address"])
res8 = res8.fillna(res8.max())
res8["stddev_sample"] = res8["stddev_sample"] / np.timedelta64(1, 's')
res8 = res8.sort_values(by="stddev_sample")
stddev_result_py = res8

In [211]:
# pd.testing.assert_frame_equal(stddev_result_py, stddev_result_sql)
np.testing.assert_almost_equal(list(stddev_result_py["stddev_sample"]), list(stddev_result_sql["stddev_sample"]), decimal=2)
print("stddev Test succeeded !!")

stddev Test succeeded !!

# Erstellen der traces_usd Tabelle

In [212]:
import os 
from datetime import datetime

In [213]:
eth_usd_res = pd.read_csv('../data/eth_usd.csv') 
# Preview the first 5 lines of the loaded data 
eth_usd = eth_usd_res.copy()
eth_usd["avg_usd_eth"] = (eth_usd_res["High"] + eth_usd_res["Low"]) / 2
eth_usd["usd_eth_timestamp"] = [datetime.strptime(ts, "%Y-%m-%d") for ts in eth_usd_res["Date"]]
eth_usd = eth_usd.loc[:, ["usd_eth_timestamp", "avg_usd_eth"]]
# data.sort_values(by="avg", ascending=False)
# data.iloc[data["avg_usd_eth"].idxmax(),:]
eth_usd.tail()

     usd_eth_timestamp  avg_usd_eth
1645        2020-02-07   217.722564
1646        2020-02-08   220.987190
1647        2020-02-09   226.423241
1648        2020-02-10   223.632332
1649        2020-02-11   222.864899

In [214]:
eth_usd.to_gbq('ethereum_us.usd_eth', if_exists="replace")

1it [00:03,  3.64s/it]

In [215]:
%%bigquery traces_usd --project masterarbeit-245718 --verbose 

select from_address, to_address, value, status, call_type, trace_type, block_timestamp, avg_usd_eth * value as value_usd from `masterarbeit-245718.ethereum_us.sample_traces` as traces left join `masterarbeit-245718.ethereum_us.usd_eth` as usd_eth 
  on (TIMESTAMP_TRUNC(usd_eth.usd_eth_timestamp, DAY, 'UTC') = TIMESTAMP_TRUNC(traces.block_timestamp, DAY, 'UTC'))

Executing query with job ID: 4abba0a6-9ba0-40c9-ace3-360ec194020f
Query executing: 0.58s
Query complete after 1.35s

In [216]:
traces_usd.to_gbq('ethereum_us.sample_traces_usd', if_exists="replace")

1it [00:06,  6.32s/it]

# Total USD received / sent

Analog zu wei.

# AVG USD received / sent

Analog zu wei.

# Montly USD reveived / sent

Analog zu wei.

# Active Months

In [217]:
%%bigquery active_months_result_sql --project masterarbeit-245718 --verbose 

with traces_clean as (
    select * from `masterarbeit-245718.ethereum_us.sample_traces` where 
    status = 1 and (call_type not in ('delegatecall', 'callcode', 'staticcall') or call_type is null) 
    
), tx_received as (
    select 
        TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
        to_address,
        count(*) as number_tx_received
    from traces_clean
    group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), to_address
    
), tx_sent as (
    select 
        TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC') as month, 
        from_address,
        count(*) as number_tx_sent
    from traces_clean
    group by TIMESTAMP_TRUNC(block_timestamp, MONTH, 'UTC'), from_address
    
), monthly_tx as (
    select 
        CASE  
          WHEN tx_sent.from_address IS NOT NULL THEN tx_sent.from_address
          WHEN tx_received.to_address IS NOT NULL THEN tx_received.to_address
        END AS address,
        CASE  
          WHEN tx_sent.month IS NOT NULL THEN tx_sent.month
          WHEN tx_received.month IS NOT NULL THEN tx_received.month
        END AS month,
        ifnull(number_tx_sent,0) as number_tx_sent, 
        ifnull(number_tx_received,0) as number_tx_received 
    from tx_sent full join tx_received 
        on (tx_sent.from_address = tx_received.to_address and tx_sent.month = tx_received.month)

), active_months_view as (
    select 
        address, 
        countif(number_tx_sent > 0 or number_tx_received > 0) as active_months 
    from monthly_tx group by address order by address ASC 
)

select 
    address, 
    ifnull(active_months,0) as active_months 
from ethereum_us.sample_addresses left join active_months_view using(address)

Executing query with job ID: 0e2a1e8b-88a3-411e-a561-ffc5a92e3d42
Query executing: 0.55s
Query complete after 3.06s

#### Tests fÃ¼r active_months feature

In [218]:
traces = [row for (index, row) in sample_traces.iterrows() if (row.call_type not in ['delegatecall', 'callcode', 'staticcall'] or row.call_type == None) and row.status == 1]
traces = pd.DataFrame(traces)

In [219]:
def address_was_active(address, month):
    for i,t in traces.iterrows():
        if (t["from_address"] == address or t["to_address"] == address) and (month.strftime("%Y-%m") == t["block_timestamp"].strftime("%Y-%m")):
            return True
    return False

In [220]:
from datetime import timedelta

active_months = {}

min_ts = traces["block_timestamp"].min()
max_ts = traces["block_timestamp"].max()
min_ts = min_ts.to_pydatetime()
max_ts = max_ts.to_pydatetime()

         
months = [month.to_pydatetime() for month in pd.date_range(start=min_ts, end=(max_ts + timedelta(days=31)), freq="MS")]

for index,address in sample_addresses.iterrows():
    for month in months:
        if (address_was_active(address[0], month)):
            active_months[address[0]] = active_months[address[0]] + 1 if address[0] in active_months else 1

In [221]:
s = pd.Series(active_months)
df = pd.DataFrame(s)
df = df.reindex(sample_addresses["address"])
df = df.reset_index()
df.columns=["address", "active_months"]
df = df.fillna(0.)
df["active_months"] = df["active_months"].astype(int)
active_months_result_py  = df
pd.testing.assert_frame_equal(active_months_result_py, active_months_result_sql)
print("active months Test succeeded!!")

active months Test succeeded!!

# montly_wei_sent, monthly_wei_recd

In [222]:
active_months_result_sql = active_months_result_sql.set_index("address")
features = balance_result_sql.join(active_months_result_sql, how="left")

In [223]:
features.to_gbq('ethereum_us.sample_features', if_exists="replace")

1it [00:04,  4.65s/it]

In [224]:
%%bigquery --project masterarbeit-245718 --verbose 

select 
    *,
    CASE 
        when active_months > 0 THEN weiSent / active_months 
        when active_months = 0 THEN 0 
    END as monthly_wei_sent,
    CASE 
        when active_months > 0 THEN weiReceived / active_months 
        when active_months = 0 THEN 0 
    END as monthly_wei_recd
from `ethereum_us.sample_features`

Executing query with job ID: d5d62d01-e0ac-495c-9e6c-fa5baeba4ec6
Query executing: 0.47s
Query complete after 0.96s

,weiReceived,weiSent,balance,active_months,monthly_wei_sent,monthly_wei_recd
0,0.0,0.0,0.0,0,0.0,0.0
1,0.0,0.0,0.0,0,0.0,0.0
2,0.0,0.0,0.0,0,0.0,0.0
3,0.0,0.0,0.0,0,0.0,0.0
4,0.0,0.0,0.0,0,0.0,0.0
5,0.0,0.0,0.0,0,0.0,0.0
6,0.0,0.0,0.0,0,0.0,0.0
7,0.0,0.0,0.0,0,0.0,0.0
8,0.0,0.0,0.0,0,0.0,0.0
9,0.0,0.0,0.0,0,0.0,0.0
10,0.0,0.0,0.0,0,0.0,0.0
11,0.0,0.0,0.0,0,0.0,0.0
12,0.0,0.0,0.0,0,0.0,0.0
13,0.0,0.0,0.0,0,0.0,0.0
14,0.0,0.0,0.0,0,0.0,0.0
15,0.0,0.0,0.0,0,0.0,0.0
16,0.0,0.0,0.0,0,0.0,0.0
17,0.0,0.0,0.0,0,0.0,0.0
18,0.0,0.0,0.0,0,0.0,0.0
19,0.0,0.0,0.0,0,0.0,0.0
20,0.0,0.0,0.0,0,0.0,0.0
21,0.0,0.0,0.0,0,0.0,0.0
22,0.0,0.0,0.0,0,0.0,0.0
23,0.0,0.0,0.0,0,0.0,0.0
24,0.0,0.0,0.0,0,0.0,0.0
25,0.0,0.0,0.0,0,0.0,0.0
26,0.0,0.0,0.0,0,0.0,0.0
27,0.0,0.0,0.0,0,0.0,0.0
28,0.0,0.0,0.0,0,0.0,0.0
29,0.0,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...,...
470,1.0,0.0,1.0,1,0.0,1.0
471,1.0,0.0,1.0,1,0.0,1.0
472,1.0,0.0,1.0,1,0.0,1.0
473,1.0,0.0,1.0,1,0.0,1.0
474,1.0,0.0,1.0,1,0.0,1.0
475,1.0,0.0,1.0,1,0.0,1.0
476,1.0,0.0,1.0,1,0.0,1.0
477,1.0,0.0,1.0,1,0.0,1.0
478,1.0,0.0,1.0,1,0.0,1.0
479,1.0,48.0,-47.0,2,24.0,0.5
480,201.0,31.0,170.0,2,15.5,100.5
481,217.0,44.0,173.0,2,22.0,108.5
482,170.0,39.0,131.0,2,19.5,85.0
483,186.0,28.0,158.0,2,14.0,93.0
484,218.0,44.0,174.0,2,22.0,109.0
485,187.0,38.0,149.0,2,19.0,93.5
486,51.0,54.0,-3.0,2,27.0,25.5
487,114.0,53.0,61.0,2,26.5,57.0
488,164.0,41.0,123.0,2,20.5,82.0
489,196.0,41.0,155.0,2,20.5,98.0
490,281.0,62.0,219.0,2,31.0,140.5
491,157.0,37.0,120.0,2,18.5,78.5
492,173.0,35.0,138.0,2,17.5,86.5
493,181.0,48.0,133.0,2,24.0,90.5
494,253.0,38.0,215.0,2,19.0,126.5
495,99.0,61.0,38.0,2,30.5,49.5
496,111.0,42.0,69.0,2,21.0,55.5
497,150.0,41.0,109.0,2,20.5,75.0
498,207.0,34.0,173.0,2,17.0,103.5
499,223.0,59.0,164.0,2,29.5,111.5

# monthly_outgoing_txns, monthly_incoming_txns

In [225]:
features = tx_sent_received_result_sql.join(active_months_result_sql, how="left")

In [226]:
features.to_gbq('ethereum_us.sample_features', if_exists="replace")

1it [00:08,  8.94s/it]

In [227]:
%%bigquery --project masterarbeit-245718 --verbose 

select 
    *,
    CASE 
        when active_months > 0 THEN numberOfTranscationsSent / active_months 
        when active_months = 0 THEN 0 
    END as monthly_outgoing_txns,
    CASE 
        when active_months > 0 THEN numberOfTranscationsReceived / active_months 
        when active_months = 0 THEN 0 
    END as monthly_incoming_txns
from `ethereum_us.sample_features`

Executing query with job ID: d1c870ea-3fee-4748-9109-db029bc7e865
Query executing: 0.46s
Query complete after 1.21s

,numberOfTranscationsReceived,numberOfTranscationsSent,active_months,monthly_outgoing_txns,monthly_incoming_txns
0,0.0,0.0,0,0.0,0.0
1,0.0,0.0,0,0.0,0.0
2,0.0,0.0,0,0.0,0.0
3,0.0,0.0,0,0.0,0.0
4,0.0,0.0,0,0.0,0.0
5,0.0,0.0,0,0.0,0.0
6,0.0,0.0,0,0.0,0.0
7,0.0,0.0,0,0.0,0.0
8,0.0,0.0,0,0.0,0.0
9,0.0,0.0,0,0.0,0.0
10,0.0,0.0,0,0.0,0.0
11,0.0,0.0,0,0.0,0.0
12,0.0,0.0,0,0.0,0.0
13,0.0,0.0,0,0.0,0.0
14,0.0,0.0,0,0.0,0.0
15,0.0,0.0,0,0.0,0.0
16,0.0,0.0,0,0.0,0.0
17,0.0,0.0,0,0.0,0.0
18,0.0,0.0,0,0.0,0.0
19,0.0,0.0,0,0.0,0.0
20,0.0,0.0,0,0.0,0.0
21,0.0,0.0,0,0.0,0.0
22,0.0,0.0,0,0.0,0.0
23,0.0,0.0,0,0.0,0.0
24,0.0,0.0,0,0.0,0.0
25,0.0,0.0,0,0.0,0.0
26,0.0,0.0,0,0.0,0.0
27,0.0,0.0,0,0.0,0.0
28,0.0,0.0,0,0.0,0.0
29,0.0,0.0,0,0.0,0.0
...,...,...,...,...,...
470,1.0,2.0,2,1.0,0.5
471,1.0,1.0,2,0.5,0.5
472,1.0,1.0,2,0.5,0.5
473,1.0,1.0,2,0.5,0.5
474,1.0,1.0,2,0.5,0.5
475,1.0,2.0,2,1.0,0.5
476,1.0,1.0,2,0.5,0.5
477,1.0,1.0,2,0.5,0.5
478,1.0,1.0,2,0.5,0.5
479,1.0,1.0,2,0.5,0.5
480,1.0,2.0,2,1.0,0.5
481,1.0,6.0,2,3.0,0.5
482,1.0,1.0,2,0.5,0.5
483,1.0,3.0,2,1.5,0.5
484,1.0,1.0,2,0.5,0.5
485,1.0,2.0,2,1.0,0.5
486,1.0,2.0,2,1.0,0.5
487,1.0,2.0,2,1.0,0.5
488,1.0,2.0,2,1.0,0.5
489,1.0,2.0,2,1.0,0.5
490,1.0,1.0,2,0.5,0.5
491,1.0,1.0,2,0.5,0.5
492,1.0,2.0,2,1.0,0.5
493,1.0,1.0,2,0.5,0.5
494,1.0,2.0,2,1.0,0.5
495,1.0,4.0,2,2.0,0.5
496,1.0,2.0,2,1.0,0.5
497,1.0,2.0,2,1.0,0.5
498,1.0,2.0,2,1.0,0.5
499,1.0,1.0,2,0.5,0.5

# number_of_contracts_created

In [228]:
%%bigquery number_of_contracts_created_res_sql --project masterarbeit-245718 --verbose 

select 
    from_address, count(*) as number_of_contracts_created
from `masterarbeit-245718.ethereum_us.sample_traces`
    where
        status = 1 and
        trace_type = "create"
group by from_address
order by from_address

Executing query with job ID: 0a487927-33d2-401f-950d-a5a4874034e1
Query executing: 0.41s
Query complete after 1.14s

Anmerkung: Es werden sowohl internal als auch external Transaktionen berÃ¼cksichtigt, welche einen contract erstellt haben.

In [230]:
number_of_contracts_created_res_python = [row for (index, row) in sample_traces.iterrows() if row.trace_type == "create" and row.status == 1]
number_of_contracts_created_res_python = pd.DataFrame(number_of_contracts_created_res_python)
number_of_contracts_created_res_python = pd.DataFrame(number_of_contracts_created_res_python.groupby("from_address").size(), columns=["number_of_contracts_created"])
number_of_contracts_created_res_python = number_of_contracts_created_res_python.reset_index()
number_of_contracts_created_res_python = number_of_contracts_created_res_python.sort_values(by="from_address")
print("Tests fÃ¼r Merkmal 'number_of_contracts_created' erfolgreich ausgefÃ¼hrt.")

In [231]:
pd.testing.assert_frame_equal(number_of_contracts_created_res_sql, number_of_contracts_created_res_python)

# Deprecated

In [232]:
%%bigquery res --project masterarbeit-245718 --verbose 

SELECT * FROM `masterarbeit-245718.ethereum_us.top40k_traces`
where 
    trace_type = "create"
LIMIT 20

Executing query with job ID: 6e8f8c56-4eac-41e4-9e88-8986e4c174ad
Query executing: 0.52s
Query complete after 0.98s

In [236]:
# %%bigquery res6 --project masterarbeit-245718 --verbose 

# SELECT
# * 
# FROM
# `masterarbeit-245718.ethereum_us.INFORMATION_SCHEMA.TABLES`

In [237]:
# tablesToDelete = [tn for tn in res6["table_name"] if tn.startswith("top40k_19_20")]

# for t in tablesToDelete:
#      client.delete_table("ethereum_us.{}".format(t), not_found_ok=True)

In [238]:
# view_ref = shared_dataset_ref.table("my_shared_view")
# view = bigquery.Table(view_ref)
# sql_template = 'SELECT name, post_abbr FROM `{}.{}.{}` WHERE name LIKE "W%"'
# view.view_query = sql_template.format(project, source_dataset_id, source_table_id)
# view = client.create_table(view)  # API request

# print("Successfully created view at {}".format(view.full_table_id))